.tabs mat-button-toggle-group {
  position: sticky;
  top: 50px;
}
.form {
  padding: 0 30px;
}

/* .tabs-container {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
} */

.example-spacer {
  flex: 1 1 auto;
}

/* .tabs-container .tabs {
  width: 30%;
}

.tabs-container .form {
  width: 70%;
  padding-right: 0 !important;
  padding-left: 15px !important;
} */

.top-form {
  padding: 0 30px;
  padding: 0 30px 30px;
}
.project-details {
  /* padding-bottom: 0px !important; */
}
.project-details .field {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #f8f8f8;
  margin: 5px 0px;
}
.project-details .field .value {
  text-transform: capitalize;
  width: 68%;
  text-align: right;
}

.project-details .field .title {
  font-weight: 500;
  text-transform: uppercase;
  width: 42%;
}

.gia-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
}
.gia-link mat-icon {
  margin: 0px 5px;
}

.top-tabs {
  display: flex;
  padding: 15px;
  padding-left: 0;
  max-width: 225px;
  flex-direction: column;
}

mat-button-toggle-group {
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.review-box {
  padding: 10px;
}
.review-box .info .box-title {
  display: flex;
  align-items: center;
}
.review-box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(235, 235, 235, 0.5);
  padding: 10px;
  cursor: pointer;
}

.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 5px;
  height: 60px !important;
  width: 49%;
  font-size: 13px;
}

.top-info-bar {
  display: flex;
  justify-content: space-between;
  background: rgba(235, 235, 235, 0.5);
  padding: 25px;
  align-items: center;
  align-content: center;
  margin: 16px auto 25px;
}
.block {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 3px 0px;
  /* justify-content: space-between; */
}

.footer-btns {
  margin-bottom: -20px;
}

.mat-chip {
  height: auto;
}

.custom-height-toolbar {
  height: 100px;
  padding-top: 20px !important;
}
.section-icons {
  position: absolute;
  top: 18%;
  left: 0;
  height: 10px;
  width: 10px;
  font-size: 16px;
  margin: 5px;
}
.mat-list-base{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.mat-button-toggle-checked{
  font-weight: 400;
  background-color: #e0e0e0;
}
mat-button-toggle-group .mat-button-toggle-checked .mat-button-toggle-label-content{color: #333;}
.proj-detail .mat-button-toggle-checked .mat-button-toggle-label-content {
  color: #333 !important;
}