<ng-container *ngIf="!apiLoading">
  <mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>Project Summary</span>
      <div class="example-spacer"></div>
      <button *ngIf="!apiLoading && viewType === 'user'" [disabled]="submitSections === proposalSections.length && 
        selectedProject?.status === 'Under Review' || proposalSections.length !== submitSections && selectedProject?.status === 'Draft'" mat-raised-button (click)="submitRequest()">
        <mat-icon>publish</mat-icon> SUBMIT
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <app-view-primary-appraisal></app-view-primary-appraisal> -->
  <mat-card class="m-20" style="padding: 30px;" *ngIf="loggedUser.role !== 'fip'">
    <mat-card-content>
      <div class="project-details">
        <div class="field">
          <div class="title">Name</div>
          <div class="value">{{selectedProjectInfo?.projectName}}</div>
        </div>
        <div class="field">
          <div class="title">Company</div>
          <div class="value">{{selectedProjectInfo?.nameOfAgency}}</div>
        </div>
        <div class="field">
          <div class="title">Time of submission</div>
          <div class="value">{{selectedProjectInfo?.timeOfSubmission | date:'fullDate'}}</div>
        </div>
        <div class="field">
          <div class="title">Duration</div>
          <div class="value">{{selectedProjectInfo?.duration}} Months</div>
        </div>
        <div class="field">
          <div class="title">Start Date</div>
          <div class="value">{{selectedProjectInfo?.startDate | date:'fullDate'}}</div>
        </div>
        <div class="field">
          <div class="title">End Date</div>
          <div class="value">{{selectedProjectInfo?.endDate | date:'fullDate'}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="viewType === 'po'">
      <!-- <div class="appraisal-block">
        <small>
        </small>
      </div>
      <div class="appraisal-block">
        <small>
        </small>
      </div> -->
      <!-- Pending Date: {{selectedProject.primaryAppraisalEndDate | date:'fullDate'}} -->
      <!-- Submitted: {{selectedProject.primaryAppraisalEndDate | date:'fullDate'}} -->
      <button mat-raised-button color="primary" (click)="confirmApprasial()">
        {{'Prepare Pre appraisal' | uppercase}} <mat-icon style="margin-left: 5px;">description</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="viewPreApprasial()">
        {{'View pre appraisal' | uppercase}} <mat-icon style="margin-left: 5px;">description</mat-icon>
      </button>
      <button mat-raised-button color="primary">
        {{'Prepare extended appraisal' | uppercase}} <mat-icon style="margin-left: 5px;">description</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>



  <mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary" *ngIf="viewType === 'po'">
    <mat-toolbar-row>
      <span>Details</span>
      <div class="example-spacer"></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="m-20">
    <mat-card-content>
      <div class="tabs-top-container">
        <div class="top-tabs">
          <mat-button-toggle-group [(ngModel)]="groupType" #group="matButtonToggleGroup">
            <mat-button-toggle (change)="tabChanged(item)" *ngFor="let item of proposalSections; let i = index;"
              [value]="item">
              <mat-icon class="mr-2" *ngIf="item.data !== null">check</mat-icon>
              <mat-icon class="mr-2" *ngIf="item.data === null">feedback</mat-icon>
              <span>{{item.name}}</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="top-form pb-0">
          <formio *ngIf="form && !formSubmitData && loggedUser.role !== 'admin'" [form]="form"
            (submit)="onSubmit($event)"></formio>
          <formio *ngIf="form && formSubmitData && loggedUser.role !== 'admin'" readOnly="true"
            [submission]="{data: formSubmitData}" [form]="form"></formio>
          <formio *ngIf="form && loggedUser.role === 'admin'" readOnly="true" [submission]="{data: formSubmitData}"
            [form]="form"></formio>
          <!-- <formio *ngIf="form" [form]="form" (submit)="onSubmit($event)"></formio> -->
          <!-- <span *ngIf="formSubmitData">{{formSubmitData | json}}</span> -->
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="info" class="m-20" style="display: flex;flex-direction: column;">
        <div class="block">
          <mat-icon style="font-size: 14px;color:#4caf50">done_outline</mat-icon>
          <span style="font-size: 10px;"> Submitted Sections</span>
        </div>
        <div class="block">
          <mat-icon style="font-size: 14px;color:#4caf50">feedback</mat-icon>
          <span style="font-size: 10px;"> Pending Sections</span>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="m-20">
    <mat-card-content>
      <div class="tabs-top-container">
        <div class="top-tabs">
          <mat-button-toggle-group [(ngModel)]="costTabsType" #group="matButtonToggleGroup">
            <mat-button-toggle (change)="costTabChanged(item)" *ngFor="let item of costSections; let i = index;"
              [value]="item.name">
              <span>{{item.name}}</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="top-form">
          <app-project-plan [show]="show"></app-project-plan>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- <app-fill-primary-appraisal [viewType]="viewType2"></app-fill-primary-appraisal> -->

</ng-container>
<ng-container *ngIf="apiLoading">
  <mat-card>
    <mat-card-content>
      <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</ng-container>