.tabs mat-button-toggle-group {
  position: sticky;
  top: 50px;
}
.form {
  padding: 0 30px;
}

.tabs-container {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}


.tabs-container {
    display: flex;
}

.tabs {
    width: 30%;
}

.form {
    width: 70%;
    padding-right: 0 !important;
    padding-left: 15px !important;
}

.top-form{
  padding: 0 30px;
}