<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>Grc Actions</span>
      </mat-toolbar-row>
    </mat-toolbar>
 <div style="padding: 1rem;">
     <p>Complainant Location: &nbsp; {{complain.islamabad}}</p>
     <p>Complainant Sublocation: &nbsp; {{complain.complaintSubLocation}}</p>
     <p>Contact Number: &nbsp; {{complain.contactNo}}</p>
     <p>Internal Status: &nbsp; {{complain.internalStatus}}</p>
     <p>Organization Name: &nbsp; {{complain.organizationName}}</p>
     <p>Status: &nbsp; {{complain.status}}</p>
     <p>Description: &nbsp; {{complain.shortDescription}}</p>
     <p>Vendor: &nbsp; {{complain.vendor}}</p>
 </div>
 <div>
  <mat-form-field class="col col-md-12">
    <textarea matInput placeholder="Add coment"  [(ngModel)]="coments"></textarea>
  </mat-form-field>
 </div>
 <div style="padding: 1rem;">
  <button *ngIf = "!loading"  mat-flat-button color="primary" (click)="satisfiedGrc()" >Satisfied</button>
  <button style="margin-left: 3rem;" *ngIf = "!loading"  mat-flat-button color="secondary" (click)="NotsatisfiedGrc()" >Not Satisfied</button>
  <mat-progress-spinner   *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate"></mat-progress-spinner>
</div>
