<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Grc Actions</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="m-20">
  <mat-card-content>
    <div class="border-heading">Complainant details</div>
    <div style="padding: 1rem;">
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">Submitted By</span>
          <span id="value">
            {{complainToedit.complaintName || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Address</span>
          <span id="value">
            {{complainToedit.address || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Email</span>
          <span id="value">
            {{complainToedit.email || '&nbsp;'}}
          </span>
        </div>
      </div>
      
      
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">Location</span>
          <span id="value">
            {{complainToedit.complaintLocation || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Sub Location</span>
          <span id="value">
            {{complainToedit.complaintSubLocation || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Vendor</span>
          <span id="value">
            {{complainToedit.vendor || '&nbsp;'}}
          </span>
        </div>
      </div>
      
      
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">Agasinst Person</span>
          <span id="value">
            {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Category</span>
          <span id="value">
            {{complainToedit.complaintCategory || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Consultant Name</span>
          <span id="value">
            {{complainToedit.consultantName || '&nbsp;'}}
          </span>
        </div>
      </div>
      
      
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">Gender</span>
          <span id="value">
            {{complainToedit.gender || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Sequence #</span>
          <span id="value">
            {{complainToedit.seqNo || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Priority</span>
          <span id="value">
            {{complainToedit.priority || '&nbsp;'}}
          </span>
        </div>
      </div>
      
      
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">CNIC</span>
          <span id="value">
            {{complainToedit.cnic || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Status</span>
          <span id="value">
            {{complainToedit.status || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Internal Status</span>
          <span id="value">
            {{complainToedit.internalStatus || '&nbsp;'}}
          </span>
        </div>
      </div>
      
      
      <div class="row mb-3">
        <div class="general-info col-md-4">
          <span id="title">Against Person</span>
          <span id="value">
            {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Contact #</span>
          <span id="value">
            {{complainToedit.contactNo || '&nbsp;'}}
          </span>
        </div>
        <div class="general-info col-md-4">
          <span id="title">Short Description</span>
          <span id="value">
            {{complainToedit.shortDescription || '&nbsp;'}}
          </span>
        </div>
      </div>
    </div>
    <div>
      <mat-form-field class="col col-md-12">
        <textarea matInput placeholder="Add comments" [(ngModel)]="coments"></textarea>
      </mat-form-field>
    </div>
    <div style="padding: 1rem;">
      <button *ngIf="!loading" mat-flat-button color="primary" (click)="satisfiedGrc()">Satisfied</button>
      <button style="margin-left: 3rem;" *ngIf="!loading" mat-flat-button color="secondary"
        (click)="NotsatisfiedGrc()">Not
        Satisfied</button>
      <mat-progress-spinner *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate">
      </mat-progress-spinner>
    </div>

  </mat-card-content>
</mat-card>