.quarters {
  display: flex;
}
.quarters span {
  padding: 5px;
  background: #aeaaaa;
  margin: 0.5rem;
}
.quarters span.selected {
  background: #2f7d32;
  color: #fff;
}
td span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
td span .quarters {
  cursor: pointer;
}
