<ng-container>
  <form [formGroup]="editUserForm">
    <mat-toolbar style="margin-top:0px;padding: 15px 0px;" color="primary">
      <mat-toolbar-row>
        <span>{{'Edit User'}}</span>
        <span class="example-spacer"></span>
        <button matTooltip="All Users!" (click)="goBack()" mat-icon-button aria-label="All Users">
          <mat-icon>view_list</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div style="position: relative;">
      <mat-card class="m-20">
        <mat-card-content>
          <mat-grid-list cols="1" rowHeight="60px">

            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select [formControl]="addUserForm.controls['department']"
                  (ngModelChange)="departmentChanged($event)">
                  <mat-option *ngFor="let item of allDepartments" [value]="item.key">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile> -->

            <mat-grid-tile>
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="e.g. Legal" formControlName="firstName"
                  [formControl]="editUserForm.controls['firstName']" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="e.g. Legal" formControlName="lastName"
                  [formControl]="editUserForm.controls['lastName']" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="e.g. abc124" formControlName="email"
                  [formControl]="editUserForm.controls['email']" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="e.g. abc124" formControlName="username"
                  [formControl]="editUserForm.controls['username']" />
              </mat-form-field>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="text" placeholder="Password" formControlName="password"
                  [formControl]="editUserForm.controls['password']" />
              </mat-form-field>
            </mat-grid-tile> -->
          </mat-grid-list>
          <mat-grid-list cols="4">
            <mat-grid-tile colspan="1">
              <mat-card style="width: 90%;">
                <mat-card-header>
                  <mat-card-title>Select Org</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-radio-group [formControl]="editUserForm.controls['org']" (change)="orgChanged($event)"
                    class="example-radio-group">
                    <mat-radio-button
                      [checked]="selectedUser.org[0].id === item.id && selectedUser.org[0].name === item.name"
                      class="example-radio-button" *ngFor="let item of allUserTypes" [value]="item">
                      {{item.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <mat-card style="width: 90%;">
                <mat-card-header>
                  <mat-card-title>Select Role</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-radio-group *ngIf="editUserForm.controls['org']" class="example-radio-group"
                    (change)="roleChanged($event)" [formControl]="editUserForm.controls['role']">
                    <mat-radio-button
                      [checked]="selectedUser.roles[0].id === type.id && selectedUser.roles[0].name === type.name"
                      class="example-radio-button" [value]="type" *ngFor="let type of allRoles">
                      {{type.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-raised-button color="warn" type="submit">
                {{'Reset' | uppercase}}
              </button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button [disabled]="!editUserForm.valid" mat-raised-button color="accent" type="submit">
                {{'Update' | uppercase}}
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>



  </form>
</ng-container>