.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 5px;
}

.no-submit .formio-component-submit {
  display: none;
}


.top-info-bar {
    display: flex;
    justify-content: space-between;
    background: rgba(235, 235, 235, 0.5);
    padding: 25px 15px;
    margin-bottom: 2rem;
}
@media print{
    .top-info-bar{
      display: none; 
      position:absolute;
      page-break-after:avoid;
    }

    .card-body .bg-light, .card, .card.border .bg-light, .bg-light {
      background-color: transparent !important;
  }

  .image-style-align-center img {
    display: inherit;
    margin: 0 auto;
}


}