<ng-container>
  
  <mat-card class="m-20 p-4">
    <mat-card-title>
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{'Total Sections'}}</div>
          <div mat-line>{{totalSections}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment_late</mat-icon>
          <div mat-line>{{'Pending'}}</div>
          <div mat-line>{{sectionStats?.pendingCount}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
          <div mat-line>{{'Submitted'}}</div>
          <div mat-line>{{sectionStats?.submitCount}}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button class="m-1" mat-raised-button color="primary">ASSIGN PROPOSAL SECTIONS TO DESK</button> -->
      <!-- <button class="m-1" *ngIf="selectedProject && selectedProject?.status === 'Extended Appraisal'" mat-raised-button
        color="primary">ASSIGN
        EXTENDED APPRAISAL TO DESK</button> -->
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container>
  <mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{'Tasks'}}</span>
      <div class="example-spacer"></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="m-20 p-3">
    <div class="mb-4" *ngFor="let item of appraisalSections">
      <div class="top-info-bar">
        <span style="display: flex;align-items:center;font-weight: bold;">
          <mat-icon class="mr-2" [color]="item.status === 'Pending' ? 'warn' : 'accent'">
            {{item.status === 'Pending' ? 'info' : 'check'}}</mat-icon>
          SME:
          <span id="answer" class="ml-2">{{item.sme.name}}</span>
        </span>
        <div class="dates">
          <span *ngIf="extendedAppraisal.status === 'Pending'" style="display: block;font-weight: bold;">
            PENDING:
            <span class="warn-comment ml-1">{{extendedAppraisal.endDate | date:'fullDate' | uppercase}}</span>
          </span>
          <span *ngIf="extendedAppraisal.status === 'Completed'" style="display: block;font-weight: bold;">
            COMPLETED:
            <span id="answer" class="ml-1">{{extendedAppraisal.completedDate | date:'fullDate' | uppercase}}</span>
          </span>
        </div>
      </div>
      <div class="forms p-3">
        <formio *ngIf="(item.data === null || item.data !== null) && item.status === 'Pending'" [form]="item.template"
          [submission]="{data:item.data}" (submit)="onSubmit($event, item.id)"></formio>
        <formio *ngIf="item.data !== null && item.status === 'Completed'" readOnly="true" [form]="item.template"
          [submission]="{data:item.data}" (submit)="onSubmit($event, item.id)"></formio>
      </div>
    </div>
    <mat-divider *ngIf="appraisalSections.length"></mat-divider>
    <div class="mt-5 mb-4 no-submit margin-5" *ngFor="let item of unassignedSections">
      <div class="top-info-bar">
        <span style="display: flex;align-items:center;font-weight: bold;">
          <mat-icon class="mr-2" [style.color]="item.status === 'Pending' ? '#F57F17' : null" [color]="item.status === 'Pending' ? 'warn' : 'accent'">
            {{item.status === 'Pending' ? 'info' : 'check'}}</mat-icon>
          SME:
          <span id="answer" class="ml-2">{{item.sme.name}}</span>
        </span>
        <div class="dates">
          <small *ngIf="extendedAppraisal.status === 'Pending'" style="display: block;font-weight: bold;">
            PENDING:
            <span class="info-comment ml-1">{{extendedAppraisal.endDate | date:'fullDate' | uppercase}}</span>
          </small>
          <small *ngIf="extendedAppraisal.status === 'Completed'" style="display: block;font-weight: bold;">
            COMPLETED:
            <span class="ml-1" id="answer">{{extendedAppraisal.completedDate | date:'fullDate' | uppercase}}</span>
          </small>
        </div>
      </div>
      <div class="form p-3">
        <formio *ngIf="!item.assigned" readOnly="true" [form]="item.template" [submission]="{data:item.data}"></formio>
      </div>
    </div>
  </mat-card>
</ng-container>