.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.cost-box {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  padding: 5px 0px;
  text-align: center;
}
.cost-box span {
  font-weight: normal;
  font-size: 12px;
  line-height: 33px;
  text-align: center;
  color: #333333;
}
.cost-box mat-form-field input {
  font-size: 12px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.table-header {
  /* background: #f9f9f9; */
  background: #039be5;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
}

.table-header span {
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
}

.table-row {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
}

.rag-div {
  margin-bottom: 8px;
}

.rag-div span {
  width: 14%;
  padding: 12px 5px;
  font-size: 12px;
  color: #474b56;
  /* color: #919191; */
  text-align: center;
}

.header-box .heading-contain {
  text-align: center !important;
}

small#date-field {
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0px;
  border-radius: 5px;
  margin-bottom: 2px;
  display: block;
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
}


