<ng-container>
  <mat-toolbar class="toolbar-sticky" style="padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{selectedRequest?.proposalName | titlecase}} - Disbursments</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>

<div class="m-20">
  <div class="box-heading">
    <span class="pl-0">Initial Advance(s)</span>
  </div>
  <ng-container>
    <mat-accordion class="example-headers-align">

      <mat-expansion-panel class="mb-5" [expanded]="step === selectedRequest?.initialAdvance.id"
        (opened)="setStep(selectedRequest?.initialAdvance, selectedRequest?.initialAdvance.id, 'initial')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Initial Advance
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="selectedRequest?.initialAdvance.status === 'Completed'" id="comment">
              Submitted
            </span>
            <span *ngIf="selectedRequest?.initialAdvance.status === 'Pending'" id="comment">
              {{selectedRequest ? selectedRequest.initialAdvance.status : ''}}
            </span>

            <span id="answer">
              {{selectedRequest ? selectedRequest.status : ''}}
            </span>
            <mat-icon *ngIf="selectedRequest !== null">
              {{'unfold_more'}}
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- FORM CONTROLS FOR FIP -->
        <ng-container *ngIf="loggedUser?.role === 'fip'">

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="d-flex flex-fill justify-content-between align-items-center">
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">X</span>
                  <span>Initial Advance</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Liquidation Only</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Liquidation & Replenishment</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="d-flex flex-fill justify-content-between align-items-center">
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Advance</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Replenishment</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Direct Payment</span>
                </div>
              </div>
            </div>
          </div>

          <!-- FORM FOR ADVANCE EXTRA FIELDS -->
          <form [formGroup]="advanceForm">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Name</mat-label>
                  <input formControlName="payeesName" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Address</mat-label>
                  <input formControlName="payeesAddress" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Name</mat-label>
                  <input formControlName="bankName" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Address</mat-label>
                  <input formControlName="bankAddress" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Account #</mat-label>
                  <input formControlName="payeesAccount" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Swift Code</mat-label>
                  <input formControlName="swiftCode" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Special Payment Instruction</mat-label>
                  <input formControlName="specialPaymentInstruction" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
            </div>
          </form>

          <!-- SELECT COSTS FORM FIELD -->
          <div class="row d-flex align-items-center">
            <div class="col-md-9">

              <mat-form-field appearance="outline" *ngIf="apiCosts === null">
                <mat-label>Select Cost(s)</mat-label>
                <mat-select matNativeControl [formControl]="costsData" multiple>
                  <!-- OPTIONS FILTER -->
                  <mat-form-field class="p-3 filter-input" *ngIf="apiCosts === null" appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                  </mat-form-field>
                  <mat-select-trigger>
                    <span *ngFor="let item of costsData.value; let i=index">
                      <span *ngIf="i===0">{{item.title}}</span>
                    </span>
                    <span *ngIf="costsData.value?.length > 1">
                      (+{{costsData.value.length - 1}} others)
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of costSelections | costsFilter:filterQuery" [value]="item">{{item.title
                    | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="apiCosts !== null">
                <mat-label>Select Cost</mat-label>
                <mat-select matNativeControl [formControl]="costsData">
                  <!-- OPTIONS FILTER -->
                  <mat-form-field class="p-3 filter-input" *ngIf="apiCosts !== null" appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                  </mat-form-field>
                  <mat-option *ngFor="let item of costSelections | costsFilter:filterQuery" [value]="item">{{item.title
                    | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <button [disabled]="!costsData.valid" mat-raised-button color="primary" (click)="addDataCosts();">Add
                Costs</button>
            </div>
          </div>

        </ng-container>

        <!-- SELECTED ADVANCE COSTS FOR FIP -->
        <ng-container *ngIf="loggedUser?.role === 'fip'">
          <div class="row d-flex header-box align-items-center mt-3">
            <div class="col-md-6 heading-contain">
              <span class="pl-2">Title</span>
            </div>
            <div class="col-md-6 heading-contain">
              <span class="pl-2">Amount</span>
            </div>
          </div>
          <div class="row d-flex cost-box align-items-center mt-2" *ngFor="let item of apiCosts; let i = index;">
            <div class="col-md-6">
              <span>{{item.title}}</span>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input [disabled]="selectedAdvanceItem?.subStatus === 'Approved'" matInput type="number"
                  placeholder="Enter Amount..." [(ngModel)]="item.amount">
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <!-- SELECTED ADVANCE COSTS FOR OTHERS SUBMITTED BY FIP -->
        <div class="row">
          <div class="col-md-7">
            <ng-container *ngIf="loggedUser?.role !== 'fip'">
              <div class="row d-flex align-items-center header-box">
                <div class="col-md-6 heading-contain">
                  <span>Title</span>
                </div>
                <div class="col-md-6 heading-contain">
                  <span>Amount</span>
                </div>
              </div>
              <div *ngIf="selectedRequest?.initialAdvance.data">
                <div class="row d-flex cost-box align-items-center mt-2" *ngFor="let item of apiCosts; let i = index;">
                  <div class="col-md-6">
                    <span>{{item.title}}</span>
                  </div>
                  <div class="col-md-6">
                    <span>{{item.amount}}</span>
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center header-box mt-2">
                <div class="col-md-6 heading-contain">
                  <span class="pl-2">Total</span>
                </div>
                <div class="col-md-6 heading-contain">
                  <span *ngIf="selectedRequest !== null" class="pl-2">{{selectedRequest.initialAdvance.amount}}</span>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- TOOL BOX FOR PROCESS OWNER DISBURSEMENT -->
          <div class="col-md-5">
            <ng-container *ngIf="selectedRequest?.assigned">
              <div class="d-flex flex-column flex-fill">
                <div class="d-flex align-items-center heading-contain header-box">
                  <mat-icon>
                    settings_applications
                  </mat-icon>
                  <span class="pl-2">
                    Toolbox
                  </span>
                </div>
                <mat-form-field appearance="outline" class="mt-2">
                  <mat-label>Select User(s) For Reviews</mat-label>
                  <mat-select matNativeControl [compareWith]="compareSmeObjects" [formControl]="reviewUsers" multiple>
                    <mat-form-field class="p-3 filter-input" appearance="outline">
                      <mat-label>Filter By Department</mat-label>
                      <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                    </mat-form-field>
                    <mat-select-trigger>
                      <span *ngFor="let item of reviewUsers.value; let i=index">
                        <span *ngIf="i===0">{{item.name}}</span>
                      </span>
                      <span *ngIf="reviewUsers.value?.length > 1">
                        (+{{reviewUsers.value.length - 1}} others)
                      </span>
                    </mat-select-trigger>
                    <mat-optgroup *ngFor="let user of allUsers | depUserFilter:filterQuery" [label]="user.name">
                      <mat-option [hidden]="loggedUser.id === item.id || checkDisabled(item)"
                        *ngFor="let item of user.users" [value]="item">
                        {{item.name}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <button [disabled]="!reviewUsers.valid"
                  class="d-flex flex-fill justify-content-center align-items-center mt-2 mb-2" mat-raised-button
                  color="primary" (click)="assignUsersForReviews('initial')">
                  Assign For Reviews
                </button>

                <mat-chip-list *ngIf="initialAdvanceStats !== null" class="review-chip">
                  <mat-chip (click)="getReviewsList(selectedRequest.initialAdvance.initialAdvanceReviewsList);"
                    *ngIf="initialAdvanceStats.pendingCount !== 0" class="mt-2" color="warn" selected>
                    {{initialAdvanceStats.pendingCount}} Reviews Pending
                  </mat-chip>
                  <mat-chip (click)="getReviewsList(selectedRequest.initialAdvance.initialAdvanceReviewsList);"
                    *ngIf="initialAdvanceStats.completedCount !== 0" class="mt-2" color="accent" selected>
                    {{initialAdvanceStats.completedCount}} Reviews Submitted
                  </mat-chip>
                </mat-chip-list>
              </div>

            </ng-container>

            <!-- SUBMIT YOUR REVIEW -->
            <ng-container>
              <div *ngIf="selectedRequest !== null">
                <div *ngFor="let item of selectedRequest.initialAdvance.initialAdvanceReviewsList">
                  <div *ngIf="item.assignee.id === loggedUser.id">
                    <p>{{item.assignee.name}} please submit your review</p>
                    <mat-form-field appearance="outline">
                      <mat-label>Your Reviews</mat-label>
                      <textarea [disabled]="item.status === 'Completed'" placeholder="Enter text here..."
                        [(ngModel)]="item.comments" matInput cols="30" rows="10"></textarea>
                    </mat-form-field>
                    <mat-radio-group class="mt-2 example-radio-group" [disabled]="item.status === 'Completed'"
                      [(ngModel)]="item.subStatus">
                      <mat-radio-button class="example-radio-button" value="Approve">
                        <span id="comment">{{'Approved' | uppercase}}</span>
                      </mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="Reject">
                        <span id="warn-comment">{{'Rejected' | uppercase}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                    <div class="mb-2 d-flex justify-content-end">
                      <button color="primary" (click)="submitReview(item)"
                        [disabled]="!item.comments || item.status === 'Completed'" mat-raised-button>
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
        </div>

        <!-- ASSIGNED REVIEWS LIST -->
        <ng-container *ngIf="selectedRequest?.assigned">
          <div class="row mt-5" *ngIf="currentReviewsList && currentReviewsList.length !== 0">
            <div class="d-flex flex-fill align-items-center heading-contain header-box">
              <mat-icon>
                settings_applications
              </mat-icon>
              <span class="pl-2">
                Reviews History
              </span>
              <div class="example-spacer">
              </div>
              <mat-icon style="cursor: pointer;" class="ml-2" (click)="currentReviewsList = [];">
                disabled_by_default
              </mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex cost-box align-items-center mt-2"
              *ngFor="let item of currentReviewsList; let i = index;">
              <div class="col-md-3">
                <span>{{item.assignee.name}}</span>
              </div>
              <div class="col-md-3">
                <span id="warn-comment" *ngIf="item.status === 'Pending'">{{item.status}}</span>
                <span id="comment" *ngIf="item.status === 'Completed'">{{item.status}}</span>
              </div>
              <div class="col-md-6">
                <span>{{item.comments}}</span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- LIQUIDATION FOR ADVANCE -->
        <div class="border-heading mt-5" *ngIf="selectedAdvanceItem?.subStatus === 'Approved'">
          <span>Advance Liquidation</span>
        </div>

        <!-- LIQUIDATION PRINT BOX -->
        <div class="row mb-2">
          <div class="col-md-12 mb-3">
            <div class="d-flex flex-fill justify-content-between align-items-center">
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                <span>Initial Advance</span>
              </div>
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">X</span>
                <span>Liquidation Only</span>
              </div>
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                <span>Liquidation & Replenishment</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="d-flex flex-fill justify-content-between align-items-center">
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                <span>Advance</span>
              </div>
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                <span>Replenishment</span>
              </div>
              <div class="d-flex align-items-center" style="width: 33%;">
                <span
                  style="text-align:center;border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                <span>Direct Payment</span>
              </div>
            </div>
          </div>
        </div>

        <!-- LIQUIDATION EXTRA FROM FIELDS -->
        <div class="row mt-3 mb-3" *ngIf="selectedAdvanceLiquidation !== null">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Payees Name</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.payeesName" matInput
                type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Payees Address</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.payeesAddress"
                matInput type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Bank Name</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.bankName" matInput
                type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Bank Address</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.bankAddress"
                matInput type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Payees Account #</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.payeesAccount"
                matInput type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Swift Code</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'" [(ngModel)]="selectedAdvanceLiquidation.swiftCode" matInput
                type="text" placeholder="enter here...">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Special Payment Instruction</mat-label>
              <input [disabled]="loggedUser.role !== 'fip'"
                [(ngModel)]="selectedAdvanceLiquidation.specialPaymentInstruction" matInput type="text"
                placeholder="enter here...">
            </mat-form-field>
          </div>
        </div>

        <!-- BUDGET UTILIZATION NDRMF -->
        <div *ngIf="selectedAdvanceItem?.subStatus === 'Approved'" class="mb-3">
          <p id="answer" class="p-2">Summary Budget Utilization (NDRMF Share)</p>
          <div class="d-flex align-items-center justify-content-between rag-div table-header">
            <span>
              Budget Category
            </span>
            <span>
              Total Project Budget Allocation (c)
            </span>
            <span>
              Expenditure upto last quarter (d)
            </span>
            <span>
              Expenditure for the current quarter (e)
            </span>
            <span>
              Expenditure till date (f = d+e)
            </span>
            <span>
              Remaining Budget (g = c-f)
            </span>
            <span>
              Remarks
            </span>
          </div>

          <div *ngFor="let item of selectedAdvanceLiquidation?.data; let i = index;">
            <div class="d-flex rag-div justify-content-between align-items-center table-row">
              <span>{{item.title}}</span>
              <span>{{getNdrmfTotalBudgetAllocation(item) | number}}</span>
              <span>{{'&nbsp;'}}</span>
              <span>{{getNdrmfExpenditureCurrentQuarter(item) | number}}</span>
              <span>{{(0 + getNdrmfExpenditureCurrentQuarter(item)) | number}}</span>
              <span>{{(getNdrmfTotalBudgetAllocation(item) - getNdrmfExpenditureCurrentQuarter(item)) | number}}</span>
              <span>&nbsp;</span>
            </div>
          </div>

        </div>

        <!-- SUMMARY SOEs NDRMF -->
        <div *ngIf="selectedAdvanceItem?.subStatus === 'Approved'" class="mb-3">
          <p id="answer" class="p-2">Summary of SOE (NDRMF Share)</p>
          <div class="d-flex align-items-center justify-content-between rag-div table-header">
            <span>
              Budget Category
            </span>
            <span>
              Quarter Budget Allocation (c)
            </span>
            <span>
              Quarter Expenditure (SOE) (d)
            </span>
            <span>
              Variance - favorable / unfavorable (e = c - d)
            </span>
            <span>
              % Variance
            </span>
            <span>
              Remarks
            </span>
          </div>

          <div *ngFor="let item of selectedAdvanceLiquidation?.data; let i = index;">
            <div class="d-flex rag-div justify-content-between align-items-center table-row">
              <span>{{item.title}}</span>
              <span>{{getNdrmfQuarterBudgetAllocation(item) | number}}</span>
              <span>{{getNdrmfExpenditureCurrentQuarter(item) | number}}</span>
              <span>{{(getNdrmfQuarterBudgetAllocation(item) - getNdrmfExpenditureCurrentQuarter(item)) |
                number}}</span>
              <span>{{'&nbsp;'}}</span>
              <span>{{'&nbsp;'}}</span>
            </div>
          </div>

        </div>

        <!-- NDRMF SOEs -->
        <div class="mb-3">
          <div class="d-flex justify-content-between mt-2 mb-2">
            <p id="answer" class="p-2">SOEs for NDRMF</p>
            <!-- <button mat-mini-fab color="accent" (click)="addNdrmfSoes();">
                                  <mat-icon>add</mat-icon>
                                </button> -->
          </div>
          <div class="table-header rag-div d-flex align-items-center">
            <span class="p-2">Categories</span>
            <span class="p-2">Vendor Name</span>
            <span class="p-2">Invoice amount</span>
            <span class="p-2">Date of Payment</span>
            <span class="p-2">Paid Amount</span>
            <span class="p-2">Cheque #</span>
            <span class="p-2">Remarks</span>
          </div>

          <div>
            <div *ngFor="let item of ndrmfLiquidationSoes; let i = index;">
              <div class="d-flex rag-div justify-content-between align-items-center table-row">
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Select Activity</mat-label>
                    <mat-select [disabled]="loggedUser.role !== 'fip'" matNativeControl [(ngModel)]="item.activityId">
                      <mat-option *ngFor="let obj of selectedAdvanceLiquidation?.data" [value]="obj._id">{{obj.title
                        | titlecase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Vendor Name</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.vendorName"
                      placeholder="enter here..." matInput>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Total Bill / Invoice amount</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" type="number" [(ngModel)]="item.invoiceAmount"
                      placeholder="enter here..." matInput>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Date of Payment</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" matInput [matDatepicker]="picker" [min]=""
                      [(ngModel)]="item.dateOfPayment">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Paid Amount</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" type="number" [(ngModel)]="item.paidAmount"
                      placeholder="enter here..." matInput>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Cheque #</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.chequeNumber"
                      placeholder="enter here..." matInput>
                  </mat-form-field>
                </span>
                <span class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.remarks"
                      placeholder="enter here..." matInput>
                  </mat-form-field>
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-2 mb-2" *ngIf="loggedUser?.role === 'fip'">
            <button mat-flat-button color="accent" (click)="addNdrmfSoes();">
              <mat-icon>add</mat-icon> Add SOE
            </button>
          </div>

        </div>


        <!-- SUMMARY SOEs FIP -->
        <div *ngIf="selectedAdvanceItem?.subStatus === 'Approved'" class="mb-3">
          <p id="answer" class="p-2">Summary Budget Utilization (FIP Share)</p>
          <div class="d-flex align-items-center justify-content-between rag-div table-header">
            <span>
              Budget Category
            </span>
            <span>
              Total Project Budget Allocation (c)
            </span>
            <span>
              Expenditure upto last quarter (d)
            </span>
            <span>
              Expenditure for the current quarter (e)
            </span>
            <span>
              Expenditure till date (f = d+e)
            </span>
            <span>
              Remaining Budget (g = c-f)
            </span>
            <span>
              Remarks
            </span>
          </div>

          <div *ngFor="let item of selectedAdvanceLiquidation?.data; let i = index;">
            <div class="d-flex rag-div justify-content-between align-items-center table-row">
              <span>{{item.title}}</span>
              <span>{{getFipTotalBudgetAllocation(item) | number}}</span>
              <span>{{'&nbsp;'}}</span>
              <span>{{getFipExpenditureCurrentQuarter(item) | number}}</span>
              <span>{{(0 + getFipExpenditureCurrentQuarter(item)) | number}}</span>
              <span>{{(getFipTotalBudgetAllocation(item) - getFipExpenditureCurrentQuarter(item)) | number}}</span>
              <span>&nbsp;</span>
            </div>
          </div>

        </div>

        <!-- SUMMARY SOEs FIP -->
        <div *ngIf="selectedAdvanceItem?.subStatus === 'Approved'" class="mb-3">
          <p id="answer" class="p-2">Summary of SOE (FIP Share)</p>
          <div class="d-flex align-items-center justify-content-between rag-div table-header">
            <span>
              Budget Category
            </span>
            <span>
              Quarter Budget Allocation (c)
            </span>
            <span>
              Quarter Expenditure (SOE) (d)
            </span>
            <span>
              Variance - favorable / unfavorable (e = c - d)
            </span>
            <span>
              % Variance
            </span>
            <span>
              Remarks
            </span>
          </div>

          <div *ngFor="let item of selectedAdvanceLiquidation?.data; let i = index;">
            <div class="d-flex rag-div justify-content-between align-items-center table-row">
              <span>{{item.title}}</span>
              <span>{{getFipQuarterBudgetAllocation(item) | number}}</span>
              <span>{{getFipExpenditureCurrentQuarter(item) | number}}</span>
              <span>{{(getFipQuarterBudgetAllocation(item) - getFipExpenditureCurrentQuarter(item)) |
                number}}</span>
              <span>{{'&nbsp;'}}</span>
              <span>{{'&nbsp;'}}</span>
            </div>
          </div>

        </div>

        <!-- FIP SOEs -->
        <ng-container>
          <div class="mb-3">
            <div class="d-flex justify-content-between mt-2 mb-2">
              <p id="answer" class="p-2">SOEs for FIP</p>
              <!-- <button mat-mini-fab color="accent" (click)="addFipSoes();">
                <mat-icon>add</mat-icon>
              </button> -->
            </div>
            <div class="table-header rag-div d-flex align-items-center">
              <span class="p-2">Categories</span>
              <span class="p-2">Vendor Name</span>
              <span class="p-2">Invoice amount</span>
              <span class="p-2">Date of Payment</span>
              <span class="p-2">Paid Amount</span>
              <span class="p-2">Cheque #</span>
              <span class="p-2">Remarks</span>
            </div>

            <div>
              <div *ngFor="let item of fipLiquidationSoes; let i = index;">
                <div class="d-flex rag-div justify-content-between align-items-center table-row">
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Select Activity</mat-label>
                      <mat-select [disabled]="loggedUser.role !== 'fip'" matNativeControl [(ngModel)]="item.activityId">
                        <mat-option *ngFor="let obj of selectedAdvanceLiquidation?.data" [value]="obj._id">{{obj.title
                          | titlecase}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Vendor Name</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.vendorName"
                        placeholder="enter here..." matInput>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Total Bill / Invoice amount</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.invoiceAmount"
                        placeholder="enter here..." matInput>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Date of Payment</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" matInput [matDatepicker]="picker" [min]=""
                        [(ngModel)]="item.dateOfPayment">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Paid Amount</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.paidAmount"
                        placeholder="enter here..." matInput>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Cheque #</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.chequeNumber"
                        placeholder="enter here..." matInput>
                    </mat-form-field>
                  </span>
                  <span class="">
                    <mat-form-field appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <input [disabled]="loggedUser.role !== 'fip'" type="text" [(ngModel)]="item.remarks"
                        placeholder="enter here..." matInput>
                    </mat-form-field>
                  </span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2 mb-2" *ngIf="loggedUser?.role === 'fip'">

              <button mat-flat-button color="accent" (click)="addFipSoes();">
                <mat-icon>add</mat-icon> Add SOE
              </button>
            </div>

          </div>
        </ng-container>


        <mat-action-row>
          <button *ngIf="loggedUser?.role === 'fip'" [disabled]="apiCosts === null || 
                          selectedAdvanceItem?.subStatus === 'Approved'" mat-raised-button color="accent"
            (click)="submitInitalAdvance();">Submit Initial Advance</button>
          <button *ngIf="loggedUser?.role === 'fip'" [disabled]="selectedAdvanceLiquidation?.status !== 'Not Initiated'"
            mat-raised-button color="accent" (click)="submitAdvanceLiquidation();">Submit Advance Liquidation</button>
          <div style="padding: 0rem 1rem 1rem;" *ngIf="selectedRequest?.assigned"
            class="d-flex align-items-center flex-fill justify-content-between">
            <div>
              <div class="d-flex flex-column">
                <div>
                  <span id="answer">Advance Status:</span>
                  {{selectedRequest?.initialAdvance.subStatus}}
                </div>
                <div>
                  <span id="answer">Liquidation Status:</span>
                  {{selectedAdvanceLiquidation?.status}}
                </div>
              </div>
            </div>
            <div>
              <button (click)="(selectedRequest?.initialAdvance.subStatus === null ||
                                selectedRequest?.initialAdvance.subStatus === 'Pending') ?
                                approveInitialAdvance(selectedRequest, 'Approve Advance') : 
                                rejectInitialAdvance(selectedRequest, 'Reject Advance')" [color]="(selectedRequest?.initialAdvance.subStatus === null ||
                                selectedRequest?.initialAdvance.subStatus === 'Pending') ?
                                'accent' : 'warn'" mat-raised-button>
                {{(selectedRequest?.initialAdvance.subStatus === null ||
                selectedRequest?.initialAdvance.subStatus === 'Pending') ?
                'Approve Initial Advance' : 'Reject Initial Advance'}}</button>
              <button color="accent" *ngIf="selectedRequest?.initialAdvance.subStatus === 'Approved'" mat-raised-button>
                {{'Approve Liquidation'}}</button>
            </div>
          </div>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <!-- <ng-container *ngIf="selectedRequest?.initialAdvance.status === 'Completed'"> -->
  <div class="box-heading">
    <span class="pl-0">Quarter Advance(s)</span>
  </div>
  <ng-container>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let item of selectedRequest?.quarterAdvanceList; let i = index;"
        [expanded]="step === i" (opened)="setStep(item, i, 'quarter')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="responsive-text">Quarter Advance #{{i+2}}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span id="comment" class="responsive-text">
              {{item.status ?
              item.status : '&nbsp;' }}
            </span>
            <span id="answer" class="responsive-text">
              {{item.subStatus ?
              item.subStatus : '&nbsp;' }}
            </span>
            <mat-icon>
              unfold_more
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>



        <!-- TOP FORM FIELDS -->
        <ng-container *ngIf="loggedUser?.role === 'fip'">

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="d-flex flex-fill justify-content-between align-items-center">
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Initial Advance</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Liquidation Only</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Liquidation & Replenishment</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="d-flex flex-fill justify-content-between align-items-center">
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">X</span>
                  <span>Advance</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Replenishment</span>
                </div>
                <div class="d-flex align-items-center" style="width: 33%;">
                  <span style="border: 1px solid;padding: 2px 10px;margin-right:10px;width:15%;">&nbsp;</span>
                  <span>Direct Payment</span>
                </div>
              </div>
            </div>
          </div>

          <!-- FORM FOR ADVANCE EXTRA FIELDS -->
          <form [formGroup]="advanceForm">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Name</mat-label>
                  <input formControlName="payeesName" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Address</mat-label>
                  <input formControlName="payeesAddress" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Name</mat-label>
                  <input formControlName="bankName" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Address</mat-label>
                  <input formControlName="bankAddress" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Payees Account #</mat-label>
                  <input formControlName="payeesAccount" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Swift Code</mat-label>
                  <input formControlName="swiftCode" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Special Payment Instruction</mat-label>
                  <input formControlName="specialPaymentInstruction" matInput type="text" placeholder="enter here...">
                </mat-form-field>
              </div>
            </div>
          </form>


          <!-- SELECT COSTS FORM FIELD -->
          <div class="row d-flex align-items-center mb-3">
            <div class="col-md-9">

              <mat-form-field appearance="outline" *ngIf="selectedRequest?.quarterAdvanceList[step]?.data === null">
                <mat-label>Select Cost(s)</mat-label>
                <mat-select matNativeControl [formControl]="costsData" multiple>
                  <!-- OPTIONS FILTER -->
                  <mat-form-field class="p-3 filter-input"
                    *ngIf="selectedRequest?.quarterAdvanceList[step]?.data === null" appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                  </mat-form-field>
                  <mat-select-trigger>
                    <div *ngIf="costsData && costsData?.value?.length">
                      <span *ngFor="let item of costsData.value; let i=index">
                        <span *ngIf="i===0">{{item.title}}</span>
                      </span>
                      <span *ngIf="costsData.value?.length > 1">
                        (+{{costsData.value.length - 1}} others)
                      </span>
                    </div>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of costSelections | costsFilter:filterQuery" [value]="item">{{item.title
                    | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="selectedRequest?.quarterAdvanceList[step]?.data !== null">
                <mat-label>Select Cost</mat-label>
                <mat-select matNativeControl [formControl]="costsData">
                  <!-- OPTIONS FILTER -->
                  <mat-form-field class="p-3 filter-input"
                    *ngIf="selectedRequest?.quarterAdvanceList[step]?.data !== null" appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                  </mat-form-field>
                  <mat-option *ngFor="let item of costSelections | costsFilter:filterQuery" [value]="item">{{item.title
                    | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <button [disabled]="selectedRequest.quarterAdvanceList[step]?.status === 'Completed'" mat-raised-button
                color="primary" (click)="addQuarterData();">Add Costs</button>
            </div>
          </div>
        </ng-container>
        <!-- FIP SUBMITTED DATA TABLE -->
        <ng-container *ngIf="loggedUser?.role === 'fip' && selectedRequest?.quarterAdvanceList[step]?.data !== null">
          <div class="row d-flex align-items-center header-box">
            <div class="col-md-6 heading-contain">
              <span class="pl-2">Title</span>
            </div>
            <div class="col-md-6 heading-contain">
              <span class="pl-2">Amount</span>
            </div>
          </div>
          <div *ngIf="selectedRequest !== null && selectedRequest.quarterAdvanceList[step]">
            <div class="row cost-box d-flex align-items-center mt-2"
              *ngFor="let item of selectedRequest.quarterAdvanceList[step].data; let i = index;">
              <div class="col-md-6">
                <span>{{item.title}}</span>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Amount</mat-label>
                  <input [disabled]="selectedRequest.quarterAdvanceList[step].status === 'Completed'" matInput
                    type="number" placeholder="Enter Amount..." [(ngModel)]="item.amount">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button [disabled]="selectedRequest.quarterAdvanceList[step].status === 'Completed'" color="accent"
              mat-raised-button class="mt-3" (click)="submitQuarterAdvance();">
              Submit
            </button>
          </div>
        </ng-container>
        <!-- NOT FIP SUBMITTED DATA TABLE -->
        <ng-container *ngIf="loggedUser?.role !== 'fip'">
          <div class="row">
            <div class="col-md-7">
              <div class="row d-flex align-items-center header-box">
                <div class="col-md-6 heading-contain">
                  <span>Title</span>
                </div>
                <div class="col-md-6 heading-contain">
                  <span>Amount</span>
                </div>
              </div>
              <div *ngIf="selectedRequest.quarterAdvanceList[step]?.data !== null">
                <div class="row d-flex cost-box align-items-center mt-2"
                  *ngFor="let item of selectedRequest.quarterAdvanceList[step].data; let i = index;">
                  <div class="col-md-6">
                    <span>{{item.title}}</span>
                  </div>
                  <div class="col-md-6">
                    <span>{{item.amount}}</span>
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center header-box mt-2">
                <div class="col-md-6 heading-contain">
                  <span class="pl-2">Total</span>
                </div>
                <div class="col-md-6 heading-contain">
                  <span *ngIf="selectedRequest !== null" class="pl-2">
                    {{selectedRequest.selectionType ?
                    selectedRequest.quarterAdvanceList[step] ?
                    selectedRequest.quarterAdvanceList[step].amount : '' :
                    ''}}
                  </span>
                </div>
              </div>
            </div>
            <!-- PROCESS OWNER FOR DISBURSEMENT -->
            <ng-container *ngIf="selectedRequest?.assigned">
              <div class="col-md-5">
                <div class="d-flex align-items-center heading-contain header-box">
                  <mat-icon>
                    settings_applications
                  </mat-icon>
                  <span class="pl-2">
                    Toolbox
                  </span>
                </div>
                <mat-form-field appearance="outline" class="mt-2">
                  <mat-label>Select User(s) For Reviews</mat-label>
                  <mat-select matNativeControl [compareWith]="compareSmeObjects" [formControl]="reviewUsers" multiple>
                    <mat-form-field class="p-3 filter-input" appearance="outline">
                      <mat-label>Filter By Department</mat-label>
                      <input matInput type="text" placeholder="Enter keyword..." [(ngModel)]="filterQuery">
                    </mat-form-field>
                    <mat-select-trigger>
                      <span *ngFor="let item of reviewUsers.value; let i=index">
                        <span *ngIf="i===0">{{item.name}}</span>
                      </span>
                      <span *ngIf="reviewUsers.value?.length > 1">
                        (+{{reviewUsers.value.length - 1}} others)
                      </span>
                    </mat-select-trigger>
                    <mat-optgroup *ngFor="let user of allUsers | depUserFilter:filterQuery" [label]="user.name">
                      <mat-option [hidden]="loggedUser.id === item.id || checkQuarterUserDisabled(item)"
                        *ngFor="let item of user.users" [value]="item">
                        {{item.name}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button [disabled]="!reviewUsers.valid" class="mt-2 mb-2" mat-raised-button color="primary"
                    (click)="assignUsersForReviews('quarter')">
                    Assign For Reviews
                  </button>
                </div>
                <mat-chip-list *ngIf="controlReviewUserForm?.stats?.pendingCount || 
                controlReviewUserForm?.stats?.completedCount" class="mt-3 review-chip">
                  <mat-chip (click)="getReviewsList(controlReviewUserForm.quarterAdvanceReviewsList);"
                    *ngIf="controlReviewUserForm?.stats?.pendingCount !== 0" class="mt-2" color="warn" selected>
                    {{controlReviewUserForm.stats ?
                    controlReviewUserForm.stats.pendingCount : '&nbsp;'}} Reviews Pending
                  </mat-chip>
                  <mat-chip (click)="getReviewsList(controlReviewUserForm.quarterAdvanceReviewsList);"
                    *ngIf="controlReviewUserForm?.stats?.completedCount !== 0" class="mt-2" color="accent" selected>
                    {{controlReviewUserForm.stats ?
                    controlReviewUserForm.stats.completedCount : '&nbsp;'}} Reviews Submitted
                  </mat-chip>
                </mat-chip-list>
              </div>
            </ng-container>
            <!-- SUBMIT YOUR REVIEW -->
            <ng-container>
              <div class="col-md-5">
                <div *ngIf="selectedRequest !== null && controlReviewUserForm">
                  <div *ngFor="let item of controlReviewUserForm.quarterAdvanceReviewsList">
                    <div *ngIf="item.assignee.id === loggedUser.id">
                      <p>{{item.assignee.name}} please submit your review</p>
                      <mat-form-field appearance="outline">
                        <mat-label>Your Reviews</mat-label>
                        <textarea [disabled]="item.status === 'Completed'" placeholder="Enter text here..."
                          [(ngModel)]="item.comments" matInput cols="30" rows="10"></textarea>
                      </mat-form-field>
                      <mat-radio-group class="mt-2 example-radio-group" [disabled]="item.status === 'Completed'"
                        [(ngModel)]="item.subStatus">
                        <mat-radio-button class="example-radio-button" value="Approve">
                          <span id="comment">{{'Approved' | uppercase}}</span>
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Reject">
                          <span id="warn-comment">{{'Rejected' | uppercase}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                      <div class="mb-2 d-flex justify-content-end">
                        <button color="primary" (click)="submitReview(item)"
                          [disabled]="!item.comments || item.status === 'Completed'" mat-raised-button>
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <!-- ASSIGNED REVIEWS LIST -->
        <ng-container *ngIf="selectedRequest?.assigned">
          <div class="row mt-5" *ngIf="currentReviewsList.length !== 0">
            <div class="d-flex flex-fill align-items-center heading-contain header-box">
              <mat-icon>
                settings_applications
              </mat-icon>
              <span class="pl-2">
                Reviews History
              </span>
              <div class="example-spacer">
              </div>
              <mat-icon style="cursor: pointer;" class="ml-2" (click)="currentReviewsList = [];">
                disabled_by_default
              </mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex cost-box align-items-center mt-2"
              *ngFor="let item of currentReviewsList; let i = index;">
              <div class="col-md-3">
                <span>{{item.assignee.name}}</span>
              </div>
              <div class="col-md-3">
                <span id="warn-comment" *ngIf="item.status === 'Pending'">{{item.status}}</span>
                <span id="comment" *ngIf="item.status === 'Completed'">{{item.status}}</span>
              </div>
              <div class="col-md-6">
                <span>{{item.comments}}</span>
              </div>
            </div>
          </div>
        </ng-container>


        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep('quarter')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>