mat-card {
  /* margin: 10px; */
}

.toggle-btns {
  display: flex;
}

mat-button-toggle-group {
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.heroes {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  background: rgba(102,103,103,0.1);
  padding: 10px;
}

.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 5px;
}
