<div class="heading-contain d-flex align-items-center">
  <mat-icon>inbox</mat-icon>
  <span class="ml-2" style="font-weight: bold;">{{'Project Documents' | uppercase}}</span>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" matTreeNodePaddingIndent="5">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <!-- <button mat-icon-button disabled></button> -->
    <!-- {{node.name}} -->
    <div class="node-title child-node d-flex justify-content-between flex-fill flex-wrap p-2">
      <div class="d-flex flex-column">
        <span style="word-break: break-all;">{{node.name}}</span>
        <small>added by: <small id="comment">{{node.created_by}}</small></small>
      </div>
      <a class="view-btn-attach" [download]="node.name"
        [href]="'data:image/jpeg;base64,' + node.picByte" target="_blank">
        <mat-icon class="download-btn">cloud_download</mat-icon>
      </a>
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <!-- {{node.name}} -->
    <div class="node-title parent-node">
      {{getNodeName(node.name)}}
    </div>
  </mat-tree-node>
</mat-tree>

<!-- <img [src]="'data:image/jpeg;base64,'+selectedFile?.picBytes" alt=""> -->