<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Evidence and Reviews</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="m-20">
  <mat-card-content>
    <!-- 
    <p>Complainant Location: &nbsp; {{complain.islamabad}}</p>
    <p>Complainant Sublocation: &nbsp; {{complain.complaintSubLocation}}</p>
    <p>Contact Number: &nbsp; {{complain.contactNo}}</p>
    <p>Internal Status: &nbsp; {{complain.internalStatus}}</p>
    <p>Organization Name: &nbsp; {{complain.organizationName}}</p>
    <p>Status: &nbsp; {{complain.status}}</p>
    <p>Description: &nbsp; {{complain.shortDescription}}</p>
    <p>Vendor: &nbsp; {{complain.vendor}}</p> -->

    <div class="border-heading">Complain Details</div>

    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">Complaint Name</span>
        <span id="value">
          {{complainToedit.complainantName || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Address</span>
        <span id="value">
          {{complainToedit.address || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Email</span>
        <span id="value">
          {{complainToedit.email || '&nbsp;'}}
        </span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">Location</span>
        <span id="value">
          {{complainToedit.complaintLocation || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Sub Location</span>
        <span id="value">
          {{complainToedit.complaintSubLocation || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Vendor</span>
        <span id="value">
          {{complainToedit.vendor || '&nbsp;'}}
        </span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">Agasinst Person</span>
        <span id="value">
          {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Category</span>
        <span id="value">
          {{complainToedit.complaintCategory || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Consultant Name</span>
        <span id="value">
          {{complainToedit.consultantName || '&nbsp;'}}
        </span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">Gender</span>
        <span id="value">
          {{complainToedit.gender || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Sequence #</span>
        <span id="value">
          {{complainToedit.seqNo || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Priority</span>
        <span id="value">
          {{complainToedit.priority || '&nbsp;'}}
        </span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">CNIC</span>
        <span id="value">
          {{complainToedit.cnic || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Status</span>
        <span id="value">
          {{complainToedit.status || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Internal Status</span>
        <span id="value">
          {{complainToedit.internalStatus || '&nbsp;'}}
        </span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="general-info col-md-4">
        <span id="title">Against Person</span>
        <span id="value">
          {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Contact #</span>
        <span id="value">
          {{complainToedit.contactNo || '&nbsp;'}}
        </span>
      </div>
      <div class="general-info col-md-4">
        <span id="title">Short Description</span>
        <span id="value">
          {{complainToedit.shortDescription || '&nbsp;'}}
        </span>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <button (click)="openDialog(complainToedit.id)" mat-flat-button color="primary">Add review</button>
      <button class="ml-3" (click)="openDialog(complainToedit.id)" mat-flat-button color="accent">Ask for evidence</button>
    </div>

  </mat-card-content>
</mat-card>