<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Evidence and Reviews</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="m-20">
  <mat-card-content>
    <!-- 
    <p>Complainant Location: &nbsp; {{complain.islamabad}}</p>
    <p>Complainant Sublocation: &nbsp; {{complain.complaintSubLocation}}</p>
    <p>Contact Number: &nbsp; {{complain.contactNo}}</p>
    <p>Internal Status: &nbsp; {{complain.internalStatus}}</p>
    <p>Organization Name: &nbsp; {{complain.organizationName}}</p>
    <p>Status: &nbsp; {{complain.status}}</p>
    <p>Description: &nbsp; {{complain.shortDescription}}</p>
    <p>Vendor: &nbsp; {{complain.vendor}}</p> -->
    <div style="padding: 1rem;">
      <div class="mb-3 row">
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Complainant Location</span>
          <span id="value">
            {{complain.islamabad || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Complainant Sublocation</span>
          <span id="value">
            {{complain.complaintSubLocation || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Contact Number</span>
          <span id="value">
            {{complain.contactNo || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Internal Status</span>
          <span id="value">
            {{complain.internalStatus || '&nbsp;'}}
          </span>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Organization Name</span>
          <span id="value">
            {{complain.organizationName || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Status</span>
          <span id="value">
            {{complain.status || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Vendor</span>
          <span id="value">
            {{complain.vendor || '&nbsp;'}}
          </span>
        </div>
        <div class="d-flex flex-fill general-info col-md-3">
          <span id="title">Description</span>
          <span id="value">
            {{complain.shortDescription || '&nbsp;'}}
          </span>
        </div>
      </div>
    </div>
    <div style="padding: 1rem;">
      <div style="position: relative;">
        <button style="align-content: flex-end; margin-left: 4rem;" (click)="openDialog(complain.id)" mat-flat-button
          color="primary">Add review</button>
        <button style="align-content: flex-end; margin-left: 4rem;" (click)="openDialog(complain.id)" mat-flat-button
          color="secondary">Ask for evidence</button>
      </div>

    </div>
  </mat-card-content>
</mat-card>