<div class="dialog">
  <div mat-dialog-content>

    <div class="d-flex justify-content-center mb-3">
      <h5>Add New Project</h5>
    </div>

    <form [formGroup]="addProjectForm">

      <mat-form-field appearance="outline">
        <mat-label for="#">Peoject Name</mat-label>
        <input matInput type="text" formControlName="name" [formControl]="addProjectForm.controls['name']"
          placeholder="eg. New Project">
      </mat-form-field>

      <mat-radio-group (change)="typeChanged($event)" class="example-section" formControlName="type"
        [formControl]="addProjectForm.controls['type']">
        <mat-radio-button value="single">Single</mat-radio-button>
        <mat-radio-button value="jv">JV</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" *ngIf="showJvUsers && !apiLoading">
        <mat-label>Select JV User</mat-label>
        <mat-select (selectionChange)="jvUsersChanged($event)" placeholder="Select User" [formControl]="addProjectForm.controls['jvUser']">
          <mat-option *ngFor="let object of allJvUsers;" [value]="object">
            {{object.firstName}}&nbsp;{{object.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!apiLoading">
        <mat-label>Select Thematic Area</mat-label>
        <mat-select [formControl]="addProjectForm.controls['thematicArea']" (ngModelChange)="thematicChanged($event)">
          <!-- (ngModelChange)="thematicChanged($event)"> -->
          <mat-option *ngFor="let area of allThematicAreas;" [value]="area">
            {{area.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
    </form>


  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="warn" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}</button>
    <button mat-raised-button color="primary" [disabled]="!addProjectForm.valid"
      (click)="confirm(addProjectForm.value)">{{ data.confirmText }}</button>
  </div>
</div>