/* .hero button {
    padding: 10px 15px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}

.mat-list-base[dense] .mat-list-item, .mat-list-base[dense] .mat-list-option {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0;
  position: relative;
} */