<mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Prepare Project GIA</span>
    <div class="example-spacer"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="m-20" [(froalaModel)]="content" [froalaEditor]></div>
<mat-card class="m-20">
  <mat-card-content>
    <mat-form-field *ngIf="allProposalSections">
      <mat-label>Select Section(s)</mat-label>
      <mat-select (selectionChange)="smeChanged($event)" placeholder="Select Sections" [formControl]="sections"
        multiple>
        <mat-select-trigger>
          <span *ngFor="let item of sections.value; let i=index">
            <span *ngIf="i===0">{{item.name}}</span>
          </span>
          <span *ngIf="sections.value?.length > 1" class="example-additional-selection">
            (+{{sections.value.length - 1}} others)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let object of selectedProject?.sections;" [value]="object">{{object.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions style="padding: 6px;">
      <button (click)="addSection()" color="primary" mat-raised-button>ADD GIA SECTION</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

<mat-card class="m-20">
  <div class="card-header">
    <h6> Created GIA </h6>
    <button (click)="submitGia()" [disabled]="appraisalDoc.length === 0" color="primary" mat-raised-button>SAVE GIA</button>
  </div>
  <mat-card-content>
    <div *ngFor="let item of appraisalDoc;let i = index;">
      <div class="appraisal-box">
        <div class="remove-btn">
          <button (click)="removeEntry(i)" color="warn" mat-mini-fab>
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="content">
          <div [froalaView]="item.content"></div>
        </div>
        <div *ngIf="item.forms.length">
          <div class="form margin-5 appraisal-box" *ngFor="let form of item.forms">
            <formio [form]="form.template" [submission]="{data: form.data}" readOnly="true"></formio>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions style="padding: 6px;">
    <button (click)="submitGia()" [disabled]="appraisalDoc.length === 0" color="primary" mat-raised-button>SAVE GIA</button>
  </mat-card-actions>
</mat-card>

<app-project-details [viewType]="viewType"></app-project-details>