<mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Prepare Project GIA</span>
    <div class="example-spacer"></div>
    <div class="project-info">
      <div class="info-box">
        <mat-icon style="margin:0 5px;">work</mat-icon>
        <small>{{selectedProject.name}}</small>
      </div>
      <div class="info-box">
        <mat-icon style="margin:0 5px;">account_circle</mat-icon>
        <small>{{selectedProject.userRef}}</small>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="m-20" [(froalaModel)]="content" [froalaEditor]></div>
<mat-card class="m-20">
  <mat-card-content>
    <mat-form-field *ngIf="allProposalSections">
      <mat-label>Select Section</mat-label>
      <!-- <mat-select (ngModelChange)="smeChanged($event)">
        <mat-option *ngFor="let item of allProposalSections" [value]="item.key">
          {{item.name}}
        </mat-option>
      </mat-select> -->
      <mat-select (selectionChange)="smeChanged($event)" placeholder="Select Sections" [formControl]="sections"
        multiple>
        <mat-select-trigger>
          <span *ngFor="let item of sections.value; let i=index">
            <span *ngIf="i===0">{{item.name}}</span>
          </span>
          <span *ngIf="sections.value?.length > 1" class="example-additional-selection">
            (+{{sections.value.length - 1}} others)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let object of allProposalSections;" [value]="object">{{object.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions style="padding: 6px;">
      <button (click)="addSection()" color="primary" mat-raised-button>ADD SECTION</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

<mat-card class="m-20">
  <!-- <mat-card-header> -->
  <div class="card-header">
    <h6> Created GIA </h6>
    <button [disabled]="appraisalDoc.length === 0" color="primary" mat-raised-button>SAVE GIA</button>
  </div>
  <!-- </mat-card-header> -->
  <mat-card-content>
    <div *ngFor="let item of appraisalDoc;let i = index;">
      <div class="appraisal-box">
        <div class="remove-btn">
          <button (click)="removeEntry(i)" color="warn" mat-mini-fab>
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="content">
          <!-- {{item.content}} -->
          <div [froalaView]="item.content"></div>
        </div>
        <div *ngIf="item.forms.length">
          <div class="form" *ngFor="let form of item.forms">
            <formio [form]="form"></formio>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions style="padding: 6px;">
    <button [disabled]="appraisalDoc.length === 0" color="primary" mat-raised-button>SAVE GIA</button>
    <!-- <button (click)="addSection()" color="primary" mat-raised-button>ADD SECTION</button> -->
  </mat-card-actions>
</mat-card>

<app-project-details></app-project-details>