.appraisal-box {
  background-color: #f8f8f8;
  padding: 20px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
    overflow-x: scroll;
}

.remove-btn {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  /* padding: 10px; */
}


.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-info{
  display: flex;
  flex-direction: column;
}
.project-info .info-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 2px;
}

.proposal-section{
  margin: 0 1.3rem 1.5rem !important
}
.appraisal-box table td {
  padding: 10px !important;
}
@media print {
.appraisal-box{
  background-color: transparent;
  padding: 0px;
  margin-bottom: 0;
  overflow-x: unset;
  overflow: unset;
}
.appraisal-box table{
  width:80%;
  margin: 5px auto;
}

.appraisal-box .rfData.font-small > span {
  font-size: 10px;
}
.appraisal-box .remove-btn{display: none;}
.mat-toolbar-multiple-rows {
  display: none;
}
.appraisal-box table td {
  padding: 10px !important;
}
}