<section class="p-4">
    <div class="container bg-white pt-4 pb-4">
        <div class="row pb-2" style="border-bottom: 1px solid rgb(163, 161, 161)">
            <div class="col-6">
                <h4>Project Implementation Plan</h4>
            </div>
            <div class="col-6 text-right">
                <button type="button" mat-raised-button color="accent" (click)="_addGroup()">
                    <!-- <mat-icon size="10">add</mat-icon>&nbsp; -->
                    {{'Add Activity' | uppercase}}
                </button>
                <!-- <button type="button" class="btn btn-primary ml-3" (click)="_addGroup()">Save</button> -->
                <button type="button" mat-raised-button color="primary" class="ml-3" (click)="pipSubmit()">
                    <!-- <mat-icon size="10">save</mat-icon>&nbsp; -->
                    {{'Save' | uppercase}}
                </button>
            </div>
        </div>
        <div class="row mt-2 pt-2 mr-0 ml-0 mb-2" style="background-color:rgb(215, 213, 213)">
            <div class="col-6 text-center">
                <h5>Activities</h5>
            </div>
            <div class="col-6 text-center">
                <h5>Quarters</h5>
            </div>
        </div>
        <form [formGroup]="_form">
            <ng-container formArrayName="groups">
                <ng-container *ngFor="let group of _groupsFormArray?.controls; index as i">
                    <!-- <mat-expansion-panel hideToggle> -->
                    <!-- <mat-expansion-panel-header> -->
                    <!-- <mat-panel-title>
                                Group - {{i+1}}
                            </mat-panel-title> -->
                    <!-- <mat-panel-description>
                                This is a summary of the content
                            </mat-panel-description> -->
                    <!-- </mat-expansion-panel-header> -->
                    <app-activities-group-control (remove)="_delete(i)" [formControlName]="i"
                        [isLeaf]="_groupsFormArray.controls[i].value.groups.length == 0">
                        <!-- [isLeaf]="_groupsFormArray.controls[i].value.groups.length == 0" (click)="formEntryClicked(i)"> -->
                    </app-activities-group-control>
                    <!-- </mat-expansion-panel> -->
                </ng-container>
            </ng-container>
        </form>
    </div>
</section>