<ng-container>
  <div class="trackpad">
    <mat-toolbar class="toolbar-sticky" style="margin-bottom:25px;padding: 15px 0px;" color="primary">
      <mat-toolbar-row>
        <span>My Trackpad</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="box-heading">
      <span>Pending Signups</span>
    </div>
    <div class="row m-20">
      <div class="col-md-3" (click)="goToRoute('pending-signups')">
        <mat-card>
          <mat-card-content>
            <div class="box">
              <div class="heading">
                <h6>Total</h6>
              </div>
              <div class="value">
                <span *ngIf="!apiLoading">{{pendingSignUpsCount}}</span>
                <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>