<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Create Template</span>
    <span class="example-spacer"></span>
    <button matTooltip="All Templates!" (click)="goBack()" mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="All Templates">view_list
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card style="padding:0px;margin-top:20px;">
  <mat-card-content>
    <button mat-raised-button style="margin: 10px 10px;" color="primary" (click)="toggleBuilder()">Toggle
      Builder</button>
    <div *ngIf="!toggle" style="margin: 20px 10px;">
      <div style="margin-bottom: 20px;" class="row">
        <div class="col-md-12">
          <form [formGroup]="createProfileForm" (ngSubmit)="saveForm(createProfileForm.value)">

            <mat-form-field class="col-md-3">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Ex. Form 1" formControlName="name"
                [formControl]="createProfileForm.controls['name']">
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <mat-label>Process Type</mat-label>
              <mat-select (ngModelChange)="fetchSectons($event)"
                [formControl]="createProfileForm.controls['formIdentity']">
                <mat-option *ngFor="let item of allProcessTypes" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <mat-label>Sub Process Type</mat-label>
              <!-- <mat-select (ngModelChange)="fetchSectons($event)" [formControl]="createProfileForm.controls['formIdentity']"> -->
              <mat-select (ngModelChange)="subProcessTypeChanged($event)"
                [formControl]="createProfileForm.controls['subProcess']">
                <mat-option *ngFor="let item of allSubProcessTypes" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-2"
              *ngIf="createProfileForm.controls['formIdentity'].value === 'qualification'.toUpperCase()">
              <mat-label>Pass Score</mat-label>
              <input matInput type="number" placeholder="100" formControlName="passingScore"
                [formControl]="createProfileForm.controls['passingScore']">
            </mat-form-field>
            <mat-form-field class="col-md-2"
              *ngIf="createProfileForm.controls['formIdentity'].value === 'qualification'.toUpperCase()">
              <mat-label>Total Score</mat-label>
              <input matInput type="number" placeholder="150" formControlName="totalScore"
                [formControl]="createProfileForm.controls['totalScore']">
            </mat-form-field>
            <mat-form-field class="col-md-2" *ngIf="createProfileForm.controls['subProcess'].value === ''">
              <mat-label>Select Section</mat-label>
              <mat-select (ngModelChange)="smeChanged($event)" [formControl]="createProfileForm.controls['smeRef']">
                <mat-option [hidden]="item.formGenerated" *ngFor="let item of allSmes" [value]="item">{{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-2">
              <mat-label>Form Type</mat-label>
              <mat-select (ngModelChange)="typeChanged($event)" [formControl]="createProfileForm.controls['type']">
                <mat-option value="form">Form</mat-option>
                <mat-option value="wizard">Wizard</mat-option>
              </mat-select>
            </mat-form-field>
            <button [disabled]="!createProfileForm.valid" class="col-md-1" mat-raised-button color="primary">
              Save
            </button>
          </form>
        </div>
      </div>
      <form-builder *ngIf="formType === 'form'" [form]="form" (change)="onChange($event)"></form-builder>
      <form-builder *ngIf="formType === 'wizard'" [form]="form" (change)="onChange($event)"></form-builder>
      <!-- <div class="well jsonviewer">
        <pre id="json"><code class="language-json" #json></code></pre>
      </div> -->
      <button [disabled]="!createProfileForm.valid" style="margin: 10px 0px;" mat-raised-button color="primary"
        (click)="saveForm(createProfileForm.value)">Save</button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card style="padding: 5px 0px 0px;" *ngIf="toggle">
  <mat-card-content>
    <div style="margin: 20px 10px;">
      <formio [form]="form" [refresh]="refreshForm" (submit)="onSubmit($event)"></formio>
      <div>{{secondForm | json}}</div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <h4>All Surveys</h4>
      <div *ngFor="let item of allForms">
        <span>{{item.name}}</span>
      </div> -->