.project-info{
  display: flex;
  flex-direction: column;
}
.project-info .info-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px 0px;
}
@media Print{
  .table
   {
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: avoid;
  }
}