<ng-container>

  <mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{preAppViewType === 'fill' ? 'Submit Primary Appresial' : 'View Primary Appraisal'}}</span>
      <div class="example-spacer"></div>
      <button class="mr-2" (click)="myTopElement.scrollIntoView({ behavior: 'smooth', block: 'center' })" mat-raised-button>
        <mat-icon class="mr-1">folder</mat-icon> Visit Proposal
      </button>
      <button mat-raised-button color="accent" (click)="goBack()">
        <mat-icon class="mr-2">undo</mat-icon>Go Back
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <mat-card class="m-20 p-4" *ngIf="preAppViewType === 'fill'">
    <mat-card-title>
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button class="m-1" mat-raised-button color="primary">ASSIGN PROPOSAL REQUESTS TO DESK</button>
      <button class="m-1" *ngIf="selectedProject && selectedProject?.status === 'Extended Appraisal'" mat-raised-button
        color="primary">ASSIGN
        EXTENDED APPRAISAL TO DESK</button>
    </mat-card-actions>
  </mat-card> -->

  <mat-card class="m-20 p-4">
    <mat-card-title>
      <!-- <span>Fill Report</span> -->
      <!-- <span>Fill Report for {{selectedProject?.initiatedBy?.name}}</span> -->
      <button disabled (click)="completeTask()" mat-raised-button color="accent"
        *ngIf="selectedProject?.preAppraisal.data === null">PENDING TASK -
        {{pendingAppraisalDays ? pendingAppraisalDays+' DAYS REMAINING' : '0' | uppercase}}</button>
        <!-- {{selectedProject?.preAppraisal.endDate | date:'fullDate' | uppercase}}</button> -->
      <button mat-raised-button color="warn" disabled *ngIf="selectedProject?.preAppraisal.status === 'Completed'">TASK
        SUBMITTED - {{selectedProject?.preAppraisal.completedDate | date:'fullDate' | uppercase}}</button>
    </mat-card-title>
    <mat-card-content>
      <formio *ngIf="selectedProject !== null && selectedProject?.preAppraisal.status === 'Pending'"
        [form]="selectedProject.preAppraisal.template" [submission]="{data:selectedProject.preAppraisal.data}"
        (submit)="onSubmit($event)"></formio>
      <formio *ngIf="selectedProject !== null && selectedProject?.preAppraisal.status === 'Completed'"
        [form]="selectedProject.preAppraisal.template" readOnly="true"
        [submission]="{data:selectedProject.preAppraisal.data}"></formio>
    </mat-card-content>
    <mat-card-actions class="m-1">
      <button (click)="completeTask()" disabled mat-raised-button color="accent"
        *ngIf="selectedProject?.preAppraisal?.data === null">PENDING
        TASK - {{pendingAppraisalDays ? pendingAppraisalDays+' DAYS REMAINING' : '0' | uppercase}}</button>
        <!-- TASK - {{selectedProject?.preAppraisal.endDate | date:'fullDate' | uppercase}}</button> -->
      <button mat-raised-button color="warn" disabled *ngIf="selectedProject?.preAppraisal.status === 'Completed'">TASK
        SUBMITTED - {{selectedProject?.preAppraisal.completedDate | date:'fullDate' | uppercase}}</button>
    </mat-card-actions>
  </mat-card>
  <span #myTopElement></span>  
  <app-project-details [viewType]="viewType" [showFillApprasialBtn]="showFillApprasialBtn"></app-project-details>
</ng-container>