<ng-container>
  <mat-toolbar class="toolbar-sticky mb-3" color="primary">
    <mat-toolbar-row>
      <span>Add Sub Process</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="m-20">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Enter sub process name</mat-label>
        <input (ngModelChange)="processNameChanged($event)" [ngModel]="processName" type="text" matInput
          placeholder="e.g. DDR">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Process</mat-label>
        <select matNativeControl (ngModelChange)="processChanged($event)" [(ngModel)]="process">
          <option value="" selected></option>
          <option *ngFor="let object of allProcesses" [value]="object">
            {{object}}
          </option>
        </select>
      </mat-form-field>
      <button [disabled]="!processName || !process" (click)="addSubProcess()" mat-raised-button
        color="primary">Add</button>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container>
  <mat-card class="m-20">
    <div class="card-title">
      <span>Assign User</span>
    </div>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Select Process</mat-label>
        <select matNativeControl (ngModelChange)="getSubProcess($event)" [(ngModel)]="assignProcess">
          <option value="" selected></option>
          <option *ngFor="let object of allProcesses" [value]="object">
            {{object}}
          </option>
        </select>
      </mat-form-field>




    </mat-card-content>
  </mat-card>
</ng-container>

<div class="m-20" *ngIf="allSubProcesses.length !== 0">
  <div class="mb-3 ml-2">
    <a mat-icon-button disabled color="warn" href="#">CLICK TABS TO ASSIGN USERS</a>
  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let item of allSubProcesses; let i = index;" [expanded]="stepArray === i"
      (opened)="setArrayStep(i, item)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span id="answer">{{item}}</span>
        </mat-panel-title>
        <mat-panel-description>
          &nbsp;
          <mat-icon>unfold_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="allProcessType?.length !== 0 && (allProcessType.processOwner !== null || 
                    allProcessType.sections !== null)">
        <!-- <div class="po">
          <div class="po-name">Select Process Owner</div>
          <mat-form-field>
            <mat-label>Select Process Owner</mat-label>
            <mat-select [compareWith]="comparePoObjects" [(ngModel)]="allProcessType.processOwner"
              (ngModelChange)="poChanged($event)">
              <mat-option *ngFor="let po of poUsers;" [value]="po">
                {{po.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div *ngFor="let obj of allProcessType.sections;">
          <div class="smes">

            <div class="sme-name">{{obj.name}}</div>
            <mat-form-field>
              <mat-label>Select SME</mat-label>
              <mat-select [compareWith]="compareSmeObjects" [(ngModel)]="obj.sme" (ngModelChange)="smeChanged($event)">
                <mat-option *ngFor="let sme of smeUsers;" [value]="sme">
                  {{sme.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-action-row>
        <div class="save-btn">
          <button *ngIf="allProcessType?.length !== 0 && (allProcessType?.processOwner !== null || 
            allProcessType?.sections !== null)" (click)="updateProcessMeta()" mat-button color="accent">SAVE</button>
        </div>
        <div class="actio-btns">
          <button mat-button color="warn" (click)="prevArrayStep()">{{'Previous' | uppercase}}</button>
          <button mat-button color="primary"
            (click)="nextArrayStep()">{{i !== allProcessType.length-1 ? 'NEXT' : 'END'}}</button>
        </div>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>