.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 72px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.example-spacer {
    flex: 1 1 auto;
}
.mat-grid-tile {
    display: block;
    position: relative;
    overflow: visible;
    width: 187px !important;
    float: left;
    top: unset !important;
    left: unset !important;
    margin-bottom: 6px !important;
    padding-bottom: 0;
    height: 176px !important;
}
.bottom-content {
    height: 80px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}
.bottom-content .icon {
    font-size: 40px;
}

.inner-content {
    padding: 15px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    height: 100%;
    border-radius: 3px;
    padding-bottom: 0 !important;
}
.searchField {
    width: 85%;
    margin: 0 auto;
}
.content span {
    font-size: 13px;
    font-style: italic;
    color: #666;
}
.inner-content h6{
    font-size: 13px;
    font-weight: 500;
}