.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 150px;
}



.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.example-spacer {
    flex: 1 1 auto;
}

.bottom-content {
    height: 50px;
    font-size: 13px;
    font-weight: 600;
}
.bottom-content .icon{
    font-size: 40px;
}



.inner-content {
    padding: 15px;
    background: #fff;
    width: 100%;
}
.searchField {
    width: 85%;
    margin: 0 auto;
}
