<ng-container>

  <mat-toolbar style="margin-top:0px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>Descriptive Information</span>
      <span class="example-spacer"></span>
      <!-- <button matTooltip="Add User!" (click)="goToAdd()" mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Add User">add
        </mat-icon>
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="4" rowHeight="130px">
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card style="margin: 20px;">
        <mat-card-content>
          <button color="primary" mat-raised-button (click)="addNewProject();">Add new Project</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile (click)="goToDetails(item);" *ngFor="let item of allProjects">
      <mat-card style="width: 90%;margin: 20px;">
        <mat-card-content>
          <div class="inner-content">
            <div class="content">
              <div class="icon">
                <mat-icon color="primary">sync</mat-icon>
              </div>
              <div class="info">
                <h6>{{item.name}}</h6>
                <span>{{item.status}}</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</ng-container>