.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}