<ng-container>
  <mat-toolbar style="margin-top:0px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{'Edit Complain'}}</span>
      <span class="example-spacer"></span>
      <button matTooltip="All Complains!" (click)="goBack()" mat-icon-button aria-label="All Complains">
        <mat-icon>view_list</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div style="position: relative;">

    <mat-card class="m-20">
      <mat-card-content>

        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Submitted By</span>
            <span id="value">
              {{complainToedit.complainantName || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Address</span>
            <span id="value">
              {{complainToedit.address || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Email</span>
            <span id="value">
              {{complainToedit.email || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Location</span>
            <span id="value">
              {{complainToedit.complaintLocation || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Sub Location</span>
            <span id="value">
              {{complainToedit.complaintSubLocation || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Vendor</span>
            <span id="value">
              {{complainToedit.vendor || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Agasinst Person</span>
            <span id="value">
              {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Category</span>
            <span id="value">
              {{complainToedit.complaintCategory || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Consultant Name</span>
            <span id="value">
              {{complainToedit.consultantName || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Gender</span>
            <span id="value">
              {{complainToedit.gender || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Sequence #</span>
            <span id="value">
              {{complainToedit.seqNo || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Priority</span>
            <span id="value">
              {{complainToedit.priority || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">CNIC</span>
            <span id="value">
              {{complainToedit.cnic || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Status</span>
            <span id="value">
              {{complainToedit.status || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Internal Status</span>
            <span id="value">
              {{complainToedit.internalStatus || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Against Person</span>
            <span id="value">
              {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Contact #</span>
            <span id="value">
              {{complainToedit.contactNo || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Short Description</span>
            <span id="value">
              {{complainToedit.shortDescription || '&nbsp;'}}
            </span>
          </div>
        </div>


        <div class="border-heading mt-4" style="display: block;">
          Assigneed User(s)
        </div>

        <div class="d-flex align-items-center rag-div table-header">
          <span>Name</span>
          <span>Internal Status</span>
          <span>Email</span>
          <span>Organization</span>
        </div>

        <div *ngFor="let asiignee of complainToedit.assignees" class="d-flex align-items-center rag-div table-row">
          <span>
            {{asiignee.assignedPersonName || '&nbsp;'}}
          </span>
          <span>
            {{(asiignee.assignedTimestamp | date: "dd/MM/yyyy") || '&nbsp;'}}
          </span>
          <span>
            {{asiignee.email || '&nbsp;'}}
          </span>
          <span>
            {{asiignee.org || '&nbsp;'}}
          </span>
        </div>



        <div class="border-heading mt-4" style="display: block;">
          Review By User(s)
        </div>

        <div class="d-flex align-items-center rag-div table-header">
          <span>Name</span>
          <span>Date</span>
          <span>Organization</span>
          <span>Comments</span>
        </div>

        <div *ngFor="let review of complainToedit.reviews" class="d-flex align-items-center rag-div table-row">
          <span>
            {{review.userName || '&nbsp;'}}
          </span>
          <span>
            {{(review.reviewDateTime | date:"fullDate") || '&nbsp;'}}
          </span>
          <span>
            {{review.org || '&nbsp;'}}
          </span>
          <span>
            {{review.comments || '&nbsp;'}}
          </span>
        </div>


        <div class="mt-4" style="display: block;">
          <mat-form-field>
            <input matInput placeholder="Seq.No" type="number" [(ngModel)]="complainToedit.seqNo">
          </mat-form-field>
        </div>

        <div class="mt-3" style="display: block;">
          <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select [(ngModel)]="complainToedit.priority">
              <mat-option value="High">High</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Low">Low</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-3" style="display: block;">
          <mat-form-field>
            <mat-label>Complaint Status</mat-label>
            <mat-select [(ngModel)]="status">
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Initiated">Initiated</mat-option>
              <mat-option value="Closed">Closed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="position: relative;">
          <button *ngIf="!loading" mat-flat-button color="primary" (click)="SubmitEditComplain()">Acknowledge</button>
          <!-- <button *ngIf="!loading"
            [disabled]="complainToedit?.assignees === null || complainToedit?.assignees.length === 0" mat-flat-button
            color="primary" (click)="SubmitEditComplain()">Acknowledge</button> -->

          <mat-progress-spinner *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate">
          </mat-progress-spinner>

        </div>
      </mat-card-content>
    </mat-card>

  </div>
</ng-container>