<ng-container>
  <mat-toolbar style="margin-top:0px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{'Edit Complain'}}</span>
      <span class="example-spacer"></span>
      <button matTooltip="All Complains!" (click)="goBack()" mat-icon-button aria-label="All Complains">
        <mat-icon>view_list</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div style="position: relative;">

    <mat-card class="m-20">
      <mat-card-content>
        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Complaint Name</span>
            <span id="value">
              {{complainToedit.complainantName || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Address</span>
            <span id="value">
              {{complainToedit.address || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Email</span>
            <span id="value">
              {{complainToedit.email || '&nbsp;'}}
            </span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="general-info col-md-4">
            <span id="title">Agasinst Person</span>
            <span id="value">
              {{complainToedit.complaintAgainstPersonOrDepartment || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Category</span>
            <span id="value">
              {{complainToedit.complaintCategory || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-4">
            <span id="title">Consultant Name</span>
            <span id="value">
              {{complainToedit.consultantName || '&nbsp;'}}
            </span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="general-info col-md-6">
            <span id="title">CNIC</span>
            <span id="value">
              {{complainToedit.cnic || '&nbsp;'}}
            </span>
          </div>
          <div class="general-info col-md-6">
            <span id="title">Internal Status</span>
            <span id="value">
              {{complainToedit.internalStatus || '&nbsp;'}}
            </span>
          </div>
        </div>

        <div>
          <h6 class="mb-3 mt-3"><strong>Assigneed User(s)</strong> </h6>
          <div *ngFor="let asiignee of complainToedit.assignees" class="mb-3 row">
            <div class="d-flex flex-fill general-info col-md-3">
              <span id="title">Name</span>
              <span id="value">
                {{asiignee.assignedPersonName || '&nbsp;'}}
              </span>
            </div>
            <div class="d-flex flex-fill general-info col-md-3">
              <span id="title">Internal Status</span>
              <span id="value">
                {{(asiignee.assignedTimestamp | date: "dd/MM/yyyy") || '&nbsp;'}}
              </span>
            </div>
            <div class="d-flex flex-fill general-info col-md-3">
              <span id="title">Email</span>
              <span id="value">
                {{asiignee.email || '&nbsp;'}}
              </span>
            </div>
            <div class="d-flex flex-fill general-info col-md-3">
              <span id="title">Organization</span>
              <span id="value">
                {{asiignee.org || '&nbsp;'}}
              </span>
            </div>
          </div>
        </div>
        <div>
          <h6><strong>Reviews</strong></h6>
          <p *ngFor="let review of complainToedit.reviews"> {{review.comments}} &nbsp; <strong>Review By:</strong>
            &nbsp; {{review.userName}} &nbsp; <strong>Date:</strong> &nbsp; {{review.reviewDateTime | date:
            "dd/MM/yyyy"}} &nbsp; <strong>Organization:</strong> &nbsp; {{review.org}} </p>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Seq.No" type="number" [(ngModel)]="sequenceNumber">
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select [(ngModel)]="priority">
            <mat-option value="High">High</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Low">Low</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Complaint Status</mat-label>
          <mat-select [(ngModel)]="status">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Initiated">Initiated</mat-option>
            <mat-option value="Closed">Closed</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <div style="position: relative;">
        <button *ngIf="!loading" mat-flat-button color="primary" (click)="SubmitEditComplain()">Acknowledge</button>
        <!-- <button *ngIf="!loading"
          [disabled]="complainToedit?.assignees === null || complainToedit?.assignees.length === 0" mat-flat-button
          color="primary" (click)="SubmitEditComplain()">Acknowledge</button> -->

        <mat-progress-spinner *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate">
        </mat-progress-spinner>

      </div>
    </mat-card>

  </div>
</ng-container>