<div class="row">
  <div class="col-md-8 pr-0" *ngIf="allSections.length && !commentsFlag">
    <mat-card class="m-20 p-0" *ngIf="viewType === 'view'">
      <mat-card-content>
        <!-- <div class="assigned">
          <div class="section" *ngFor="let section of assignedSections">
            <div class="section-state flex-row-between p-3 mat-elevation-z3">
              <div class="name flex-row-between">
                <div class="flex-column-start">
                  <h6>{{section.template.name}}</h6>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === null" id="warn-comment">
                    Not Reviewed
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Pending'" id="warn-comment">
                    Pending Review
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Completed'" id="comment">
                    Reviewed
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4">
              <div class="section-state flex-row-between p-2 mb-3 mt-3">
                <div class="state">
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === null">
                    <mat-icon class="mr-2" id="warn-comment">warning</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Pending'">
                    <mat-icon class="mr-2" id="warn-comment">info</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Completed'">
                    <mat-icon class="mr-2" id="comment">check</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                </div>
              </div>
              <formio [form]="section.template" [submission]="{data:section.data}" readOnly="true"></formio>
            </div>
          </div>
        </div> -->
        <div class="unassigned">
          <div class="section margin-5 appraisal-box" *ngFor="let section of dataSource">
            <div class="section-state flex-row-between p-3 mat-elevation-z3">
              <div class="name flex-row-between">
                <div class="flex-column-start">
                  <h6>{{section.template.name}}</h6>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === null" id="warn-comment">
                    Not Reviewed
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Pending'" id="warn-comment">
                    Pending Review
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Completed'" id="comment">
                    Reviewed
                  </span>
                </div>
              </div>
              <button *ngIf="loggedUser?.role === 'process owner'" mat-button color="primary"
                [disabled]="section?.reviewStatus === 'Pending'" (click)="assignForReview(section)">
                <mat-icon class="mr-1">alarm</mat-icon>{{'Assign Task' | uppercase}}
              </button>
            </div>
            <div class="p-4">
              <div class="section-state flex-row-between p-2 mb-3 mt-3">
                <div class="state">
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === null">
                    <mat-icon class="mr-2" id="warn-comment">warning</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Pending'">
                    <mat-icon class="mr-2" id="warn-comment">info</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                  <span class="flex-row-between" *ngIf="section?.reviewStatus === 'Review Completed'">
                    <mat-icon class="mr-2" id="comment">check</mat-icon>
                    <span id="answer">{{section.sme?.name}}</span>
                  </span>
                </div>
              </div>
              <formio [form]="section.template" [submission]="{data:section.data}" readOnly="true"></formio>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 pl-0" *ngIf="allSections.length && !commentsFlag">
    <mat-card class="m-20 ml-0" *ngIf="loggedUser?.role === 'process owner'">
      <mat-card-content>
        <div class="fullbtn mb-2">
          <button (click)="filterSections('completed')" color="accent" mat-raised-button>{{'Reviewed' |
            uppercase}}</button>
        </div>
        <div class="fullbtn mb-2">
          <button (click)="filterSections('pending')" color="primary" mat-raised-button>{{'Pending' |
            uppercase}}</button>
        </div>
        <div class="fullbtn mb-2">
          <button [disabled]="filterType === null" (click)="filterSections('reset')" color="warn"
            mat-raised-button>RESET ALL</button>
        </div>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>alarm</mat-icon>
            <div mat-line>{{'start date'}}</div>
            <!-- <div mat-line>{{sectionStats?.pendingCount}}</div> -->
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>alarm</mat-icon>
            <div mat-line>{{'end date'}}</div>
            <!-- <div mat-line>{{sectionStats?.unassignCount}}</div> -->
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
            <div mat-line>{{'Pending Reviews'}}</div>
            <div mat-line>{{sectionStats?.pendingCount || 0}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{'Total Sections'}}</div>
            <div mat-line>{{allSections.length}}</div>
          </mat-list-item>
        </mat-list>
        <button mat-button color="primary" (click)="toggleComments()">
          {{'view comments' | uppercase}}
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card class="m-20 ml-0" *ngIf="loggedUser?.role === 'sme'">
      <div class="card-header">
        Enter Your Remarks
      </div>
      <mat-card-content class="mt-3">
        <mat-form-field>
          <mat-label>Select review section</mat-label>
          <select matNativeControl [(ngModel)]="selectedSection">
            <option value="" selected></option>
            <option *ngFor="let item of assignedReviewsSections" [value]="item.id">
              {{item.template.name}}
            </option>
          </select>
        </mat-form-field>
        <!-- <div class="card-header">
          <span [hidden]="!item.assigned" *ngFor="let item of assignedReviewsSections" id="answer">
            <span>Comments:</span>
            {{item.comments}}
          </span>
        </div> -->
        <mat-form-field appearance="outline">
          <mat-label>General remarks</mat-label>
          <textarea (input)="sectionComments = $event.target.value" [value]="sectionComments"
            placeholder="enter your remarks..." matInput cols="30" rows="10"></textarea>
        </mat-form-field>
        <button [disabled]="!sectionComments || assignedReviewsSections?.length === 0 || !selectedSection" class="mt-2"
          (click)="addSectionReviews()" mat-raised-button color="accent">
          {{'add remarks' | uppercase}}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12" *ngIf="allSections.length === 0">
    <mat-card class="m-20">
      <mat-card-content>
        <mat-progress-spinner mode="indeterminate" diameter="35"></mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card class="m-20" *ngIf="viewType === 'fill' && !commentsFlag">
  <mat-card-content>
    <div class="unassigned">
      <div class="section" *ngFor="let section of dataSource">
        <div class="section-state flex-row-between p-3">
          <div class="name flex-row-between">
            <mat-icon *ngIf="section?.status === 'Pending'" color="warn" class="mr-2">warning</mat-icon>
            <mat-icon *ngIf="section?.status === 'Completed'" color="accent" class="mr-2">done</mat-icon>
            {{section.template.name}}
          </div>
          <div class="state">
            <span id="info-comment" *ngIf="section?.status === 'Pending'">Pending</span>
            <span id="comment" *ngIf="section?.status === 'Completed'">Completed</span>
          </div>
        </div>
        <div class="p-4">
          <formio *ngIf="section?.data === null" (submit)="onSubmit($event, section)" [form]="section?.template"
            [submission]="{data:section.data}">
          </formio>
          <formio *ngIf="section?.data !== null" [form]="section?.template" readOnly="true"
            [submission]="{data:section.data}"></formio>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-20" *ngIf="commentsFlag">
  <mat-card-content>
    <div class="d-flex justify-content-end">
      <button mat-button color="warn" (click)="toggleComments()">
        {{'close comments' | uppercase}}
      </button>
    </div>
    <div class="matrix" id="print-section">
      <div class="row header-row">
        <div class="col-md-3 item">
          <h6 id="answer"> Name</h6>
        </div>
        <div class="col-md-3 item">
          <h6 id="answer"> Report Section</h6>
        </div>
        <div class="col-md-3 item">
          <h6 id="answer"> Status</h6>
        </div>
        <div class="col-md-3 item">
          <h6 id="answer"> Comments</h6>
        </div>
        <div class="col-md-3 item">
          <h6 id="answer"> Date</h6>
        </div>
      </div>
      <div class="row data-row" *ngFor="let item of allSections;">
        <div class="col-md-3 item"><span class="mobileheads">Name</span><span>{{item?.sme?.name || 'N/A'}}</span></div>
        <div class="col-md-3 item">
          {{item?.template?.name}}
        </div>
        <div class="col-md-3 item">
          {{item.status}}
        </div>
        <div class="col-md-3 item"><span class="mobileheads">Comments</span><span>{{item.comments || 'N/A'}}</span>
        </div>
        <div class="col-md-3 item"><span class="mobileheads">Date</span><span>{{item.reviewCompletedOn |
            date:'shortDate'}}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>