.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

#example-radio-group-label {
  padding: 5px !important;
  color: #151515;
}

p {
  font-size: 13px;
}
