<mat-card class="m-20">
  <mat-card-content>

    <table [trackBy]="trackTask" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!loading">
            <button mat-raised-button *ngIf="element.pending" color="primary" matTooltip="Approve!"
              (click)="approveUser(element)" matTooltipPosition="left">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-raised-button color="accent" *ngIf="!element.pending" matTooltip="Approved!"
              matTooltipPosition="left">
              <mat-icon>check</mat-icon>
            </button>
          </div>
          <div *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" diameter="35" color="primary"></mat-progress-spinner>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>