<!-- <div
  [ngClass]="{'unicorn-light-theme': themeName === 'unicorn-light-theme','unicorn-dark-theme': themeName === 'unicorn-dark-theme' }"
  class="app_header">
  <app-header class="example-header" *ngIf="loggedUser"></app-header>
</div> -->
<ng-container>
  <mat-sidenav-container
    [ngClass]="{'app-content': !loggedUser, 'unicorn-light-theme': themeName === 'unicorn-light-theme','unicorn-dark-theme': themeName === 'unicorn-dark-theme' }"
    class="example-container">
    <mat-sidenav #sidenav *ngIf="loggedUser" mode="side" [opened]="sideNavMode" class="example-sidenav">
      <div class="profile-info">
        <img src="../assets/dummy.png" alt="Profile Image">
        <div class="pro-name">
          <span id="answer">{{userInfo?.firstName}}&nbsp;{{userInfo?.lastName}}</span>
        </div>
      </div>
      <div class="hero" *ngIf="loggedUserRole === 'admin'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/adminhome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/users">Users</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/smes">Sections</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/departments">Departments</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/pending-signups">Pending Signups</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/create-survey">Create
                Templates</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/surveys">All Templates</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/assign-sections-process">Assign
                Processes & Sections
              </a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/add-sub-process">Add Sub Process
              </a>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Project Proposals
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/add-proposal-section">Thematic Areas</a>
              <!-- <a mat-list-item routerLinkActive="active-menu-item" routerLink="/proposal-sections">All Sections</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/proposal-forms">All Section Forms</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/create-proposal-form">Create Section
                Form</a> -->
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/project-plan">Project Plan</a>
            </mat-nav-list>
          </mat-expansion-panel>

          <!-- <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/user-projects">Add a
                new project</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/prepare-gia">Prepare Gia</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal">Priliminary
                Appraisals</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal-projects">
                Priliminary Appraisal Requests</a>
            </mat-nav-list>
          </mat-expansion-panel> -->

        </mat-accordion>
      </div>

      <div class="hero" *ngIf="loggedUserRole === 'fip'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/fip-home">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">

          <mat-expansion-panel *ngIf="orgName === 'fip'" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accreditation Requests
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/fip-eligibility">Eligibility
                Management</a>
              <a *ngIf="userEligibleStatus === 'Not Initiated' || userEligibleStatus === 'Under Review'" mat-list-item
                disabled href="javascript: void(0);">Qualification
                Management</a>
              <a *ngIf="userEligibleStatus === 'Approved'" mat-list-item routerLinkActive="active-menu-item"
                routerLink="/fip-qualification">Qualification Management</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="orgName === 'fip'" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a *ngIf="accredited === true" mat-list-item routerLinkActive="active-menu-item"
                routerLink="/user-projects">Post a
                project</a>
              <a *ngIf="accredited === false" mat-list-item disabled href="javascript: void(0);">Post a
                Project</a>
              <a *ngIf="accredited === true" mat-list-item routerLinkActive="active-menu-item"
                routerLink="/sub-project-document">Sub Project Documents</a>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="orgName === 'govt'" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a *ngIf="accredited === false" mat-list-item disabled href="javascript: void(0);">Post a
                Project</a>
              <a *ngIf="accredited === true" mat-list-item routerLinkActive="active-menu-item"
                routerLink="/govt-agency-home">Post a
                project</a>
            </mat-nav-list>
          </mat-expansion-panel>

          <!-- <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                Submit GIA Reviews
              </a>
            </mat-nav-list>
          </mat-expansion-panel> -->

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                QPR
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/qpr">
                All Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="hero" *ngIf="loggedUserRole === 'sme'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/smehome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accreditation
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/accreditation-requests">Qualification
                Requests</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal-forms">
                Project Proposal Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/extended-appraisals">Extended
                Appraisal Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/sub-project-document">Sub
                Project Documents</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                GIA Reviews Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <div class="hero" *ngIf="loggedUserRole === 'dm pam'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/dmpamhome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal-forms">
                Project Proposal Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal-projects">
                Priliminary Appraisal Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/extended-appraisals">Extended
                Appraisal Requests</a>

            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                GIA Reviews Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <div class="hero" *ngIf="loggedUserRole === 'gm'">
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gmhome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gmproposals">
                Primary Appraisal Requests</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                GIA Reviews Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <div class="hero" *ngIf="loggedUserRole === 'ceo'">
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/ceohome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/ceoproposals">
                Primary Appraisal Requests</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                GIA Reviews Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>


      <!-- PROCESS OWNER -->
      <div class="hero" *ngIf="loggedUserRole === 'process owner'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/pohome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accreditation Requests
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/eligibility-requests">Eligibility
                Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/accreditation-requests">Qualification
                Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/govt-accredit-requests">Govt.
                Accreditation
                Requests</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/primary-appraisal">Proposal
                Requests</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/prepare-gia">Prepare Gia</a>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/sub-project-document">Sub
                Project Documents</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/gia-review-projects">
                GIA Reviews Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                QPR
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/qpr">
                All Requests
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <!-- SIGN UP APPROVER -->
      <div class="hero" *ngIf="loggedUserRole === 'signup_approver'">
        <mat-accordion multi="true">

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Launchpad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/approverhome">Home</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLinkActive="active-menu-item" routerLink="/pending-signups">Pending Signups</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="mat-app-background">
      <div [hidden]="!loading" class="loadingCircle">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
      </div>
      <div [hidden]="loading" class="router-output">
        <div class="app_header">
          <app-header class="example-header" *ngIf="loggedUser"></app-header>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>