<div *ngIf="dataOfComplainID" style="padding: 1rem;">
<mat-card>
<mat-card-content >
    <p>Complaint Name: &nbsp; {{dataOfComplainID.complainantName}}  </p>
    <p>Address: &nbsp; {{dataOfComplainID.address}} </p>
    <p>Email: &nbsp; {{dataOfComplainID.email}}</p>
    <p>CNIC: &nbsp; {{dataOfComplainID.cnic}}</p>
    <p>Against Person: &nbsp; {{dataOfComplainID.complaintAgainstPersonOrDepartment}}</p>
    <p>Category: &nbsp; {{dataOfComplainID.complaintCategory}}</p>
    <p>Location: &nbsp; {{dataOfComplainID.complaintLocation}}</p>
    <p>Sub-Location: &nbsp; {{dataOfComplainID.complaintSubLocation}}</p>
    <p>Internal Status &nbsp; {{dataOfComplainID.internalStatus}}</p>
    <p>Sequence Number: &nbsp; {{dataOfComplainID.seqNo}}</p>
    <p>Status: &nbsp; {{dataOfComplainID.status}}</p>
    <p>Consultant Name: &nbsp; {{dataOfComplainID.consultantName}}</p>
    <p>Factor Causing Problem: &nbsp; {{dataOfComplainID.shortDescFectorCausingProblem}}</p>
    <p>Short Description: &nbsp; {{dataOfComplainID.shortDescription}}</p>
    </mat-card-content>
    <div style="position: relative; padding: 1rem;">
        <button *ngIf="!loading" mat-flat-button color="warn" (click)="RejectAppeal()">Reject</button>
        <button style="margin-left: 3rem;" *ngIf="!loading" mat-flat-button color="primary" (click)="ReAssignAppeal()">Re-Assign</button>
        <mat-progress-spinner   *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate"></mat-progress-spinner>
      </div>
</mat-card>

</div>