.row.header-row, .row.data-row {
    background: #EFF2F7;
    padding: 30px 15px;
}
.row.data-row {
    background: #fff;
}
.row.data-row .item .mat-chip {
    height: auto;
}

.row.data-row:nth-child(2n+1) {
    background: #EFF2F7;
}

.matrix{
  margin: 20px 35px;
}