.table td, .table th {
    vertical-align: middle;
  }
  .table td, .table th, .no-top-border-table>.table>tbody>tr:first-child>td {
    padding: .75rem im !important;
    vertical-align: middle i !important;
    border-top: 1px solid #dee2e6 i !important;
  }
  .form-control:disabled, .form-control[readonly] {
    font-size: 0.8rem i !important;
  }
  .col-form-label {
    font-weight: 500 !important;
  }
  @media print {
    .form-control:disabled, .form-control[readonly] {
      background-color:transparent;
      font-size: 0.8rem;
  }
  .table td, .table th, .no-top-border-table>.table>tbody>tr:first-child>td {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  .col-form-label {
    font-weight: 500;
  }
  .bg-info {
    background-color: #17a2b8!important;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
  }
  }