<mat-toolbar style="margin-top:0px;padding: 25px 0px;" color="primary">
  <mat-toolbar-row>
    <div class="quali-details">
      <span class="subheading-1">Qualification Sections</span>
      <mat-progress-bar *ngIf="pendingSectionsCount !== allSectionsCount && submitSectionsCount !== allSectionsCount"
        mode="determinate" color="accent" [value]="(pendingSectionsCount/allSectionsCount)*100"></mat-progress-bar>
      <mat-progress-bar *ngIf="pendingSectionsCount === allSectionsCount && submitSectionsCount !== allSectionsCount"
        mode="determinate" color="accent" [value]="(pendingSectionsCount/allSectionsCount)*100"></mat-progress-bar>
      <mat-progress-bar *ngIf="submitSectionsCount === allSectionsCount" mode="determinate" color="accent"
        [value]="(submitSectionsCount/allSectionsCount)*100"></mat-progress-bar>
      <span *ngIf="pendingSectionsCount !== allSectionsCount && submitSectionsCount !== allSectionsCount"
        class="mat-cation">Submitted:
        <span id="comment">{{(submitSectionsCount/allSectionsCount)*100}}%</span>
      </span>
      <span *ngIf="pendingSectionsCount === allSectionsCount && submitSectionsCount !== allSectionsCount"
        class="mat-cation">Submitted:
        <span id="comment">{{(submitSectionsCount/allSectionsCount)*100}}%</span>
      </span>
      <span *ngIf="submitSectionsCount === allSectionsCount" class="mat-cation">
        Submitted:
        <span id="comment">
          {{(submitSectionsCount/allSectionsCount)*100}}%
        </span>
      </span>
    </div>
    <span class="example-spacer"></span>
    <button matTooltip="Application Submitted!" disabled *ngIf="submitSectionsCount && submitSectionsCount === allSectionsCount" mat-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">
        cancel_schedule_send
      </mat-icon>
      Submitted
    </button>
    <button (click)="submitAllSections()" matTooltip="Submit Application!"
      *ngIf="pendingSectionsCount && pendingSectionsCount === allSectionsCount" mat-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">
        send
      </mat-icon>
      Submit
    </button>
    <button matTooltip="Locked!" disabled
      *ngIf="pendingSectionsCount !== allSectionsCount && submitSectionsCount !== allSectionsCount" mat-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">
        cancel_schedule_send
      </mat-icon>
      Locked
    </button>
    <button matTooltip="Close!" (click)="goBack()" mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">
        close
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-block">
  <div class="main-block" id="get-main-block">
    <mat-card>
      <mat-card-content>
        <div class="toggle-btns">
          <mat-button-toggle-group [(ngModel)]="groupType" #group="matButtonToggleGroup">
            <mat-button-toggle *ngFor="let item of allSmes" (change)="setDefaults()" [value]="item"
              aria-label="Text align left">
              {{item.sectionName}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div style="margin: 20px 10px;" [ngClass]="{'update-btn': secondForm}">
          <formio disableAlerts="true" readOnly="true" [hidden]="!form?.exists" [form]="form"
            [submission]="{data:secondForm}" [refresh]="refreshForm" (submit)="onSubmit($event)"></formio>
          <formio [hidden]="form?.exists" [form]="form" [submission]="{data:secondForm}" [refresh]="refreshForm"
            (submit)="onSubmit($event)"></formio>
          <div *ngIf="secondForm">{{secondForm | json}}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="intimation-block" id="get-intimation-block">

    <mat-card style="margin: 10px;">
      <mat-card-content>
        <div mat-card-title style="margin-bottom: 15px;">Intimations</div>
        <div @pageAnimations class="badge-btns" mat-menu>
          <div (click)="setInitmationSection(item)" [ngClass]="{'active': groupType === item.formIdentity}"
            mat-menu-item class="btn-row" *ngFor="let item of allInitimations.intimations">
            <div class="title_info">
              <span class="title">{{item.formIdentity}}</span>
              <small *ngIf="item.intimation_status === 'pending'" class="date"><span id="answer">Pending:</span>
                {{item.endDate | date:'shortDate'}}</small>
              <small *ngIf="item.intimation_status === 'updated'" class="date"><span id="answer">Updated:</span>
                {{item.endDate | date:'shortDate'}}</small>
            </div>
            <div class="badge">
              <mat-icon matTooltip="Commnets!" [matBadge]="item.comments.length" matBadgeColor="accent">comment
              </mat-icon>
            </div>
          </div>
          <div @pageAnimations style="background-color: rgba(102, 103, 103, 0.1);">
            <div class="btn-row" [hidden]="allInitimations.intimations.length != 0">
              <div mat-menu-item style="padding: 5px 0px;">
                <span id="answer">No Data Found</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <accreditation-comments-matrix></accreditation-comments-matrix>
  </div>
</div>