<mat-toolbar style="margin-bottom:20px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Add Section</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="goBack()" color="accent" type="submit">Close</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="m-20">
  <!-- <mat-card-header>
    <mat-card-title title color="primary">{{'Add Section'}}</mat-card-title>
    <div class="example-spacer"></div>
    <button mat-raised-button (click)="goBack()" color="accent" type="submit">Close</button>
  </mat-card-header> -->
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="60px">
      <form [formGroup]="addSmeForm" (ngSubmit)="addSme(addSmeForm.value)">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="e.g. Legal" formControlName="name"
              [formControl]="addSmeForm.controls['name']" />
          </mat-form-field>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
          <mat-form-field>
            <mat-label>Key</mat-label>
            <input matInput type="text" placeholder="e.g. abc124" formControlName="key"
              [formControl]="addSmeForm.controls['key']" />
          </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Process Type</mat-label>
            <mat-select (ngModelChange)="getSubProcessTypes($event)" [formControl]="addSmeForm.controls['formIdentity']">
              <mat-option *ngFor="let type of processTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Sub Process Type</mat-label>
            <mat-select (ngModelChange)="subProcessTypeChanged($event)" [formControl]="addSmeForm.controls['subProcessType']">
              <mat-option *ngFor="let type of subProcessTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-progress-spinner *ngIf="addingFlag" mode="indeterminate" diameter="35" color="primary"></mat-progress-spinner>
          <button *ngIf="!addingFlag" [disabled]="!addSmeForm.valid" mat-raised-button color="primary" type="submit">{{'Add'}}</button>
        </mat-grid-tile>
      </form>
      <!-- <mat-grid-tile>
        <button mat-raised-button (click)="goBack()" color="accent" type="submit">Close</button>
      </mat-grid-tile> -->
    </mat-grid-list>
  </mat-card-content>
</mat-card>