<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Concern Person</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 1rem;">
  <mat-card class="example-container mat-elevation-z8" style="padding: 0px;">
    <mat-card-content >
      <table  mat-table  [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Complaint Name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.complainantName}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="CNIC">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> CNIC </th>
          <td mat-cell *matCellDef="let element"> {{element.cnic}} </td>
        </ng-container>
        <ng-container matColumnDef="againstPerson">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Against Person </th>
          <td mat-cell *matCellDef="let element"> {{element.complaintAgainstPersonOrDepartment}} </td>
        </ng-container>
        <ng-container matColumnDef="Category">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.complaintCategory }} </td>
        </ng-container>
        <ng-container matColumnDef="Location">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.complaintLocation }} </td>
        </ng-container>
        <ng-container matColumnDef="InternalStatus">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Internal Status </th>
          <td mat-cell *matCellDef="let element"> {{element.internalStatus }} </td>
        </ng-container>
        <ng-container matColumnDef="SequenceNumber">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Sequence Number </th>
          <td mat-cell *matCellDef="let element"> {{element.seqNo }} </td>
        </ng-container>
        <ng-container matColumnDef="ConsultantName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Consultant Name </th>
          <td mat-cell *matCellDef="let element"> {{element.consultantName }} </td>
        </ng-container>
        <ng-container matColumnDef="askForEvidence">
          <th mat-header-cell *matHeaderCellDef> Ask for evidence </th>
          <td mat-cell *matCellDef="let element">
            <button matTooltip="Ask for evidence!" matTooltipPosition="right"  (click)="AskForEvidenceAndreviews(element)"  mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator  #paginator [pageSizeOptions]="[10, 15, 20, 50]" showFirstLastButtons>
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>