<div class="d-flex align-items-center rag-div table-header" *ngIf="!apiLoading">
  <span>#</span>
  <span>Activity</span>
  <span>Quarter</span>
  <span>
    General Comments
  </span>
  <span>
    Date
  </span>
  <span>
    View Attachments
  </span>
</div>
<div style="height:300px;overflow:hidden;overflow-y:scroll;" *ngIf="!apiLoading">
  <div class="d-flex align-items-center rag-div table-row" *ngFor="let item of allVerifications; let i = index;">
    <span>{{i+1}}</span>
    <span>
      {{getActivityName(item.activity)}}
    </span>
    <span>
      {{item.quarter}}
    </span>
    <span>
      {{item.generalComments}}
    </span>
    <span>
      {{item.created_at | date:'shortDate'}}
    </span>
    <span>
      <button mat-icon-button color="primary">
        VIEW
      </button>
    </span>
  </div>
</div>
<div class="d-flex" *ngIf="apiLoading">
  <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
</div>