<div class="m-2" *ngIf="selectedQuarter !== null">
  <div class="info-header d-flex align-items-center">
    <mat-chip-list aria-label="Quarter Info">
      <mat-chip color="primary" selected>Activity: {{costTitle}}</mat-chip>
      <mat-chip color="primary" selected>Quarter: {{quarter}}</mat-chip>
    </mat-chip-list>
    <div class="example-spacer"></div>
    <mat-chip-list aria-label="Club Info" *ngIf="clubbed">
      <mat-chip color="warn" selected>Clubbed Entry</mat-chip>
      <mat-chip color="accent" selected>{{clubData.title}}</mat-chip>
    </mat-chip-list>
  </div>
  <form [formGroup]="_form" (ngSubmit)="submit()" *ngIf="_form && updateFlag">
    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
      <mat-tab label="General" class="p-4">
        <div class="m-4">
          <div class="row">
            <div class="col-md-12 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Target</mat-label>
                <input type="number" matInput formControlName="target">
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-error *ngIf="_form.get('startDate').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error *ngIf="_form.get('endDate').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="latitude">
                    <mat-error *ngIf="_form.get('latitude').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="longitude">
                    <mat-error *ngIf="_form.get('longitude').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea rows="6" matInput placeholder="Enter description"
                      formControlName="description"></textarea>
                    <mat-error *ngIf="_form.get('description').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>{{'province' | titlecase}}</mat-label>
                <mat-select [compareWith]="compareProvinceObjects" formControlName="province"
                  (selectionChange)="provinceChanged($event)">
                  <mat-option *ngFor="let item of province;let i= index;" [value]="item">
                    {{item.PROVINCE | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>{{'division' | titlecase}}</mat-label>
                <mat-select [compareWith]="compareDivisionObjects" formControlName="division"
                  (selectionChange)="divisionChanged($event)">
                  <mat-option *ngFor="let item of division;let i= index;" [value]="item">
                    {{item.DIVISION | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>{{'district' | titlecase}}</mat-label>
                <mat-select [compareWith]="compareDistrictObjects" formControlName="district"
                  (selectionChange)="districtChanged($event)">
                  <mat-option *ngFor="let item of district;let i= index;" [value]="item">
                    {{item.DISTRICT | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>{{'tehsil' | titlecase}}</mat-label>
                <mat-select [compareWith]="compareTehsilObjects" formControlName="tehsil"
                  (selectionChange)="tehsilChanged($event)">
                  <mat-option *ngFor="let item of tehsil;let i= index;" [value]="item">
                    {{item.TEHSIL | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>{{'uc' | titlecase}}</mat-label>
                <mat-select [compareWith]="compareUcObjects" formControlName="uc">
                  <mat-option *ngFor="let item of uc;let i = index;" [value]="item">
                    {{item.UC | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Financials">
        <div class="m-4">
          <mat-form-field appearance="outline">
            <mat-label>NDRMF Share</mat-label>
            <input matInput type="number" placeholder="Amount in PKR" formControlName="ndrmfShare">
            <mat-error *ngIf="_form.get('ndrmfShare').hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>FIP Share</mat-label>
            <input matInput type="number" placeholder="Amount in PKR" formControlName="fipShare">
            <mat-error *ngIf="_form.get('fipShare').hasError('required')">Required</mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Procurement">
        <div class="m-4">
          <mat-checkbox labelPosition="'before'" formControlName="isProcurement">Is Procurement</mat-checkbox>
          <mat-form-field appearance="fill">
            <mat-label>Procurement Heads</mat-label>
            <mat-select multiple formControlName="procurementHeads">
              <mat-option value="1">Head 1</mat-option>
              <mat-option value="2">Head 2</mat-option>
              <mat-option value="3">Head 3</mat-option>
              <mat-option value="4">Head 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="M&E">
        <div *ngIf="rfForm === null">
          <h3>Loading ...</h3>
        </div>
        <formio *ngIf="rfForm !== null" [form]="rfForm" (submit)="onSubmit($event)" [submission]="{data:rfSubmitData}">
        </formio>
      </mat-tab>
    </mat-tab-group>
    <!-- <p>{{_form.value | json}}</p> -->
    <div class="m-3">
      <button [disabled]="!_form.valid" mat-raised-button color="primary" type="submit">Update</button>
    </div>
  </form>

  <form [formGroup]="progressForm" (ngSubmit)="submitProgress()" *ngIf="!updateFlag">
    <mat-tab-group (selectedTabChange)="onTabChanged($event);">
      <mat-tab label="General" class="p-4">
        <div class="m-3">
          <div class="row mb-3" *ngIf="loggedUser?.role === 'fip'">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Progress</mat-label>
                <input formControlName="generalProgress" matInput type="number" min="0" max="100">
                <!-- <mat-hint>Numbers from 0-100</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="generalProgressStatus">
                  <mat-option value="1">Completed</mat-option>
                  <mat-option value="2">Pending</mat-option>
                  <mat-option value="3">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="general-info">
                <span id="title">Target</span>
                <span id="value" *ngIf="selectedQuarter.target">
                  {{selectedQuarter.target}}
                </span>
                <span id="value" *ngIf="!selectedQuarter.target">
                  &nbsp;
                </span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="general-info">
                    <span id="title">Start Date</span>
                    <span id="value" *ngIf="selectedQuarter.startDate">
                      {{selectedQuarter.startDate | date:'shortDate'}}
                    </span>
                    <span id="value" *ngIf="!selectedQuarter.startDate">
                      &nbsp;
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="general-info">
                    <span id="title">End Date</span>
                    <span id="value" *ngIf="selectedQuarter.endDate">
                      {{selectedQuarter.endDate | date:'shortDate'}}
                    </span>
                    <span id="value" *ngIf="!selectedQuarter.endDate">
                      &nbsp;
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="general-info">
                    <span id="title">Longitude</span>
                    <span id="value" *ngIf="selectedQuarter.longitude">
                      {{selectedQuarter.longitude}}
                    </span>
                    <span id="value" *ngIf="!selectedQuarter.longitude">
                      &nbsp;
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="general-info">
                    <span id="title">Latitude</span>
                    <span id="value" *ngIf="selectedQuarter.latitude">
                      {{selectedQuarter.latitude}}
                    </span>
                    <span id="value" *ngIf="!selectedQuarter.latitude">
                      &nbsp;
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex">
                <div class="general-info">
                  <span id="title">Description</span>
                  <span id="value" *ngIf="selectedQuarter.description">
                    {{selectedQuarter.description}}
                  </span>
                  <span id="value" *ngIf="!selectedQuarter.description">
                    &nbsp;
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex mt-3">
                <div class="general-info">
                  <span id="title">Province</span>
                  <span id="value" *ngIf="selectedQuarter.province?.PROVINCE">
                    {{selectedQuarter.province.PROVINCE | titlecase}}
                  </span>
                  <span id="value" *ngIf="!selectedQuarter.province?.PROVINCE">
                    &nbsp;
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex mt-3">
                <div class="general-info">
                  <span id="title">Division</span>
                  <span id="value" *ngIf="selectedQuarter.province?.DIVISION">
                    {{selectedQuarter.province.DIVISION | titlecase}}
                  </span>
                  <span id="value" *ngIf="!selectedQuarter.province?.DIVISION">
                    &nbsp;
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex mt-3">
                <div class="general-info">
                  <span id="title">District</span>
                  <span id="value" *ngIf="selectedQuarter.province?.DISTRICT">
                    {{selectedQuarter.province.DISTRICT | titlecase}}
                  </span>
                  <span id="value" *ngIf="!selectedQuarter.province?.DISTRICT">
                    &nbsp;
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Financials">
        <div class="m-4">
          <div class="row mb-3" *ngIf="loggedUser?.role === 'fip'">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Progress</mat-label>
                <input formControlName="financialProgress" matInput type="number" min="0" max="100">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input formControlName="financialProgressAmount" type="number" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="financialProgressStatus">
                  <mat-option value="1">Completed</mat-option>
                  <mat-option value="2">Pending</mat-option>
                  <mat-option value="3">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex mt-3">
            <div class="general-info">
              <span id="title">Fip Share</span>
              <span id="value" *ngIf="selectedQuarter.fipShare">
                {{!clubbed ? selectedQuarter.fipShare : clubData.fipShare}}
              </span>
              <span id="value" *ngIf="!selectedQuarter.fipShare">
                &nbsp;
              </span>
            </div>
            <div class="general-info ml-3">
              <span id="title">Ndrmf Share</span>
              <span id="value" *ngIf="selectedQuarter.ndrmfShare">
                {{!clubbed ? selectedQuarter.ndrmfShare : clubData.ndrmfShare}}
              </span>
              <span id="value" *ngIf="!selectedQuarter.ndrmfShare">
                &nbsp;
              </span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Procurement">
        <div class="m-3">
          <div class="row mb-3" *ngIf="loggedUser?.role === 'fip'">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Progress</mat-label>
                <input formControlName="procProgress" matInput type="number" min="0" max="100">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="procProgressStatus">
                  <mat-option value="1">Completed</mat-option>
                  <mat-option value="2">Pending</mat-option>
                  <mat-option value="3">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <form [formGroup]="_form">
          <div class="m-3">
            <mat-checkbox labelPosition="'before'" disabled formControlName="isProcurement">Is Procurement
            </mat-checkbox>
            <mat-form-field appearance="fill">
              <mat-label>Procurement Heads</mat-label>
              <mat-select multiple formControlName="procurementHeads">
                <mat-option value="1">Head 1</mat-option>
                <mat-option value="2">Head 2</mat-option>
                <mat-option value="3">Head 3</mat-option>
                <mat-option value="4">Head 4</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="M&E">
        <div class="m-3">
          <div *ngIf="rfForm === null">
            <h3>Loading ...</h3>
          </div>
          <div class="row mb-3" *ngIf="loggedUser?.role === 'fip'">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Progress</mat-label>
                <input formControlName="mneProgress" type="text" matInput type="number" min="0" max="100">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="mneProgressStatus">
                  <mat-option value="1">Completed</mat-option>
                  <mat-option value="2">Pending</mat-option>
                  <mat-option value="3">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <formio [readOnly]="true" *ngIf="rfForm !== null && selectedQuarter?.rfSubmitData" [form]="rfForm"
            (submit)="onSubmit($event)" [submission]="{data:selectedQuarter.rfSubmitData}">
          </formio>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- <p>{{_form.value | json}}</p> -->
    <div class="m-3" *ngIf="loggedUser?.role === 'fip'">
      <!-- <button (click)="submitProgress()" mat-raised-button color="primary" type="submit">Submit</button> -->
      <button [disabled]="!progressForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>