<ng-container>
  <mat-toolbar style="margin-top:0px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>{{'Update Status'}}</span>
      <span class="example-spacer"></span>
      <button matTooltip="All Complains!" (click)="goBack()" mat-icon-button aria-label="All Complains">
        <mat-icon>view_list</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div style="position: relative;">

  <mat-card class="m-20" >
    <mat-card-content >

    <mat-form-field>
      <mat-label>Update Status</mat-label>
      <mat-select [(ngModel)] ="status">
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="Initiated">Initiated</mat-option>
        <mat-option value="Closed">Closed</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <div *ngIf="status" style="position: relative;">
    <button  mat-flat-button color="primary" (click)="updateComplaintStatus()">Update Staus</button>
  </div>
  </mat-card>

</div>
  </ng-container>
