<mat-toolbar style="margin-bottom:20px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>QPR to Donor</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="commenceQprToDonor()" [disabled]="apiLoading" *ngIf="loggedUser?.role === 'process owner' && 
      loggedUser?.processNames.indexOf('QPR_TO_DONOR') > -1 && !apiLoading">
      <mat-icon>add</mat-icon>
    </button>
    <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-elevation-z8 m-20">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Filter Rows</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-elevation-z8 m-20" [hidden]="apiLoading">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="initiatorFullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Submitted By </th>
      <td mat-cell *matCellDef="let row"> {{row.initiatorFullName}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="submittedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Submitted At </th>
      <td mat-cell *matCellDef="let row"> {{row.submittedAt | date:'shortDate'}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="goToRequest(row)">
          <mat-icon>pageview</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="m-20" [hidden]="!apiLoading">
  <mat-card>
    <mat-card-content>
      <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</div>