<mat-toolbar color="primary" class="header" style="padding: 15px 0px;">
  <mat-toolbar-row>
    <span>
      Sub Project Document Scheme Tasks
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mr-4 ml-4 p-3">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
</div>
<mat-card class="m-20 mat-elevation-z5 p-0">
  <mat-card-content>
    <table [hidden]="apiLoading" [trackBy]="trackTask" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="assigneedByName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Assigneed By </th>
        <td mat-cell *matCellDef="let element"> {{element.assigneedByName}} </td>
      </ng-container>
      <ng-container matColumnDef="docName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Doc Name </th>
        <td mat-cell *matCellDef="let element"> {{element.docName}} </td>
      </ng-container>
      <ng-container matColumnDef="docNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Doc# </th>
        <td mat-cell *matCellDef="let element"> {{element.docNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="fipName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Proposal </th>
        <td mat-cell *matCellDef="let element"> {{element.fipName}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="{'info-comment-b': element.status === 'Pending',
                'comment-b': element.status === 'Completed',
              'notify-text': element.status === 'Rejected'}">
            {{element.status}}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="comments">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button matTooltip="edit!" (click)="editSme(element)" matTooltipPosition="left" mat-icon-button -->
          <button matTooltip="Go to request!" (click)="goToRequest(element)" matTooltipPosition="left" mat-icon-button
            aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="!apiLoading" class="m-3" style="display: flex;flex-direction:column;align-items: center;">
      <mat-progress-spinner mode="indeterminate" diameter="35"></mat-progress-spinner>
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>