<mat-toolbar style="margin-bottom:15px;padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Assign Complain</span>
    <span class="example-spacer"></span>
    <button matTooltip="All Complains!" (click)="goBack()" mat-icon-button aria-label="All Complains">
      <mat-icon>view_list</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div style="padding: 1.25rem;"> -->
<mat-card class="m-20">
  <!-- <mat-card-content *ngFor="let user of allUsers">

      <label>
        <input type="checkbox" (click)="getUserId(user.id)" />
        {{user.firstName }}&nbsp;{{user.lastName}}&nbsp;
      </label>

    </mat-card-content> -->
  <mat-card-content>
    <div id="answer" class="border-heading">Select User(s) for assigning</div>
    <div *ngFor="let item of allDepUsers | keyvalue" style="padding: 1rem;">
      <h5>{{item.key}}</h5>
      <div *ngFor="let user of item.value">
        <label>
          <input type="checkbox" (click)="getUserId(user.id)" />
          {{user.name }}
        </label>
      </div>
    </div>
    <div style="position: relative; padding: 1rem;">
      <button *ngIf="!loading" mat-flat-button color="primary"
        (click)="ConfirmAssignToConcernedPerson()">Assign</button>
      <mat-progress-spinner *ngIf="loading" class="spinner p-3" diameter="35" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>

<!-- </div> -->