<mat-card class="m-20 mat-elevation-z8">
  <div class="card-title">
    <!-- Assign {{selectedArea?.name}} Owner -->
    Assign {{selectedArea?.name}} Owner
  </div>
  <mat-card-content>
    <div class="po" *ngIf="selectedArea">
      <div class="po-name">Select Process Owner</div>
      <mat-form-field>
        <mat-label>Select Process Owner</mat-label>
        <mat-select [compareWith]="comparePoObjects" [(ngModel)]="processOwner"
          (ngModelChange)="poChanged($event)">
          <mat-option *ngFor="let po of poUsers;" [value]="po">
            {{po.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!apiLoading" color="primary" [disabled]="this.selectedArea === null || processOwner === null" (click)="updateThematicArea()">Save</button>
    <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
  </mat-card-actions>
</mat-card>