.hero {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  background: rgba(102,103,103,0.1);
  padding: 10px;
}

.hero .hero-title {
  margin-bottom: 5px;
}

.mat-card-title {
  font-size: 20px !important;
  font-weight: 500;
}

.comments {
  height: 246px;
  overflow-x: scroll;
}