.example-container {
  /* height: 400px; */
  /* overflow: auto; */
  margin: 15px;
  padding: 0px;
  position: relative;
}

table {
  width: 100%;
}


.min-fab-addbtn{
  position: absolute;
  right: 50px;
  bottom: 18%;
}