.example-container {
  /* height: 200px; */
  /* overflow: auto; */
  margin: 20px;
  /* padding: 0px; */
  /* position: relative; */
}

table {
  width: 100%;
}


.min-fab-addbtn{
  position: absolute;
  right: 50px;
  bottom: 18%;
}

.example-spacer{
  flex: 1 1 auto;
}