* {
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.example-container {
  height: 400px;
  overflow: auto;
}

.margin-5 {
  margin: 20px;
  padding: 0px;
}

table {
  width: 100%;
}

.example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 8px;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}
.example-result-card {
  margin-bottom: 5px;
}

.form-comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgba(235, 235, 235, 0.5);
  margin: 5px auto;
  padding: 10px;
}

.form-comments .details {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.form-comments .controls {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}
/* .controls mat-button-toggle-group {
  justify-content: center;
} */
.details span {
  margin-top: 5px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
}

.profile-details small {
  font-size: 10px;
}

.top-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-controls button {
  margin: 5px auto;
}

.comments-box {
  margin-top: 5px;
  width: 100%;
}

.comment-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(235, 235, 235, 0.7);
  padding: 10px;
}

.comments-box mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.fullbtn {
  width: 100%;
}
.fullbtn button {
  width: 100%;
}

button {
  outline: none;
}

.admin-controls bar-rating,
#stars bar-rating {
  pointer-events: none;
}

.title-details {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 1.5;
}
.title-details #date {
  font-size: 10px;
}
/* .review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-info #stars bar-rating .br-default .br-unit {
  font-size: 8px !important;
  width: 5px !important;
  height: 5px !important;
}

.review-info #stars bar-rating .br{
  margin: 5px auto !important;
} */

.comments-matrix {
  display: flex;
  background: rgba(7, 63, 136, 0);
  margin: 5px auto;
}
.comments-matrix .review-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: gray;
}

.comments-matrix .form-comments {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: none;
  padding: 0;
}

.comments-matrix .title-details {
  flex-direction: column;
  justify-content: center;
  width: 22%;
  padding: 10px;
}
.comments-matrix .title-details #title {
  font-size: 14px;
  font-weight: 500;
}

.comments-matrix .form-comments .form-item {
  flex-direction: column;
  display: flex;
  /* background: rgba(235, 235, 235, 0.6); */
  /* background: rgba(0, 0, 0, 0.03); */
  background: rgba(102, 103, 103, 0.04);
  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px;
  box-shadow: none !important;
}

.form-item .form-item-boxes {
  display: flex;
  flex-direction: row;
}

.review-comments {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18%;
  padding: 10px;
  font-size: 13px;
}

/* mat-card-content{
  display:inline-flex;
} */

.formio-component-submit {
  display: none;
}

.formio-component .formio-form .formio-component-submit button {
  display: none;
}

@media (max-width: 880px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  /* mat-card-content{
      display:block;
    } */
}

.view-block {
  display: flex;
  flex-direction: row;
}

.view-block .form-items {
  width: 62%;
  margin-right: 0px;
}

.view-block .activity-items {
  width: 38%;
}

.right-layout {
  position: sticky;
  top: -215px;
}
.right-layout.for-sme {
  /* position: sticky; */
  top: 80px;
}

.mobile-class.view-block {
  flex-direction: column-reverse;
}
.mobile-class.view-block {
  flex-direction: column-reverse;
}

.mobile-class.view-block .form-items {
  margin-right: 20px;
  width: auto;
}

/* .view-block[_ngcontent-gnv-c12] .activity-items[_ngcontent-gnv-c12] */
.mobile-class.view-block .activity-items {
  width: auto;
}

.title-details {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

/* .answer{
  mar
} */

.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 5px;
}

#warn {
  color: #f44336;
}

.section-info {
  display: flex;
  justify-content: space-between;
}

.header .item,
.box .name,
.box .sme {
  padding: 10px;
}

.header {
  margin-bottom: 5px;
}

.header .item {
  padding: 15px !important;
  background: #a8d08d;
}

.box .name {
  background: #00aef0;
  color: #fff;
  margin-bottom: 5px;
}
.box span {
  display: block;
  width: 100%;
}

/* .overall span {
  display: block;
  width: 100%;
} */

.box .sme {
  background: #f4f4f4;
  margin-bottom: 5px;
}

.scores .box.col-md-4,
.overall {
  padding: 2px;
}

.accred .title {
  background: #ffd965;
  padding: 15px;
  margin: 8px 0px;
}

.overall .head {
  background: #ffd965;
  padding: 10px;
  display: block;
}
.overall .value {
  background: #f4f4f4;
  padding: 10px;
  display: block;
}

.controls-wise {
  margin-bottom: 5px;
}
@media print {
  table{width:100%;  font-family: verdana, arial, sans-serif;}
  /* avoid cutting tr's in half */
  table, td, row, .header {
      page-break-inside:avoid;
  }
  tr    
{ 
  /* display: table-row-group; */
  page-break-inside:avoid; 
  page-break-after:auto;
}
.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 .75em;
  margin-top: -0.25em;
  position: relative;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: .25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: auto;
}
.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0.84375em solid transparent;
}
.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 16px;
}
.align-items-center {
  align-items: center!important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{    position: relative;
  width:100%;
  display: inline-block !important;
  }

.col-md-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}
.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-md-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.overall{
  padding: 2px;
}
.mat-radio-button {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.mat-radio-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
}
.mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.mat-radio-outer-circle, .mat-radio-inner-circle {
  width: 18px !important;
  height: 18px !important;
}
.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54);
}
.mat-radio-inner-circle {
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms,background-color ease 280ms;
  width: 20px;
  transform: scale(0.001);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #2e7d32;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.mat-radio-input {
  bottom: 0;
  left: 50%;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}
input[type="radio" i] {
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
}
.radio-selected input[type="radio"][checked] 
{
    border-color:#555;
    background-color: #17a2b8;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
}

