* {
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.margin-5 {
  margin: 20px;
  padding: 0px;
}

table {
  width: 100%;
}

.example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 8px;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}
.example-result-card {
  margin-bottom: 5px;
}

.form-comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgba(235, 235, 235, 0.5);
  margin: 5px auto;
  padding: 10px;
}

.form-comments .details {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.form-comments .controls {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}
/* .controls mat-button-toggle-group {
  justify-content: center;
} */
.details span {
  margin-top: 5px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
}

.profile-details small {
  font-size: 10px;
}

.top-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-controls button {
  margin: 5px auto;
}

.comments-box {
  margin-top: 5px;
  width: 100%;
}

.comment-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(235, 235, 235, 0.7);
  padding: 10px;
}

.comments-box mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.fullbtn {
  width: 100%;
}
.fullbtn button {
  width: 100%;
}

button {
  outline: none;
}

.admin-controls bar-rating,
#stars bar-rating {
  pointer-events: none;
}

.title-details {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 1.5;
}
.title-details #date {
  font-size: 10px;
}
/* .review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-info #stars bar-rating .br-default .br-unit {
  font-size: 8px !important;
  width: 5px !important;
  height: 5px !important;
}

.review-info #stars bar-rating .br{
  margin: 5px auto !important;
} */

.comments-matrix {
  display: flex;
  background: rgba(7, 63, 136, 0);
  margin: 5px auto;
}
.comments-matrix .review-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: gray;
}

.comments-matrix .form-comments {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: none;
  padding: 0;
}

.comments-matrix .title-details {
  flex-direction: column;
  justify-content: center;
  width: 22%;
  padding: 10px;
}
.comments-matrix .title-details #title {
  font-size: 14px;
  font-weight: 500;
}

.comments-matrix .form-comments .form-item {
  flex-direction: column;
  display: flex;
  /* background: rgba(235, 235, 235, 0.6); */
  /* background: rgba(0, 0, 0, 0.03); */
  background: rgba(102, 103, 103, 0.04);
  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px;
  box-shadow: none !important;
}

.form-item .form-item-boxes {
  display: flex;
  flex-direction: row;
}

.review-comments {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18%;
  padding: 10px;
  font-size: 13px;
}

/* mat-card-content{
  display:inline-flex;
} */

.formio-component-submit {
  display: none;
}

.formio-component .formio-form .formio-component-submit button {
  display: none;
}

@media (max-width: 880px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  /* mat-card-content{
      display:block;
    } */
}

.view-block {
  display: flex;
  flex-direction: row;
}

.view-block .form-items {
  width: 62%;
  margin-right: 0px;
}

.view-block .activity-items {
  width: 38%;
}

.right-layout {
  position: sticky;
  top: -215px;
}
.right-layout.for-sme {
  /* position: sticky; */
  top: 80px;
}

.mobile-class.view-block {
  flex-direction: column-reverse;
}
.mobile-class.view-block {
  flex-direction: column-reverse;
}

.mobile-class.view-block .form-items {
  margin-right: 20px;
  width: auto;
}

/* .view-block[_ngcontent-gnv-c12] .activity-items[_ngcontent-gnv-c12] */
.mobile-class.view-block .activity-items {
  width: auto;
}

.title-details {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

/* .answer{
  mar
} */

.mat-list-item {
  background: rgba(235, 235, 235, 0.5);
  margin-bottom: 5px;
}

#warn {
  color: #f44336;
}

.section-info {
  display: flex;
  justify-content: space-between;
}

.header .item,
.box .name,
.box .sme {
  padding: 10px;
}

.header {
  margin-bottom: 5px;
}

.header .item {
  padding: 15px !important;
  background: #a8d08d;
}

.box .name {
  background: #00aef0;
  color: #fff;
  margin-bottom: 5px;
}
.box span {
  display: block;
  width: 100%;
}

/* .overall span {
  display: block;
  width: 100%;
} */

.box .sme {
  background: #f4f4f4;
  margin-bottom: 5px;
}

.scores .box.col-md-4,
.overall {
  padding: 2px;
}

.accred .title {
  background: #ffd965;
  padding: 15px;
  margin: 8px 0px;
}

.overall .head {
  background: #ffd965;
  padding: 10px;
  display: block;
}
.overall .value {
  background: #f4f4f4;
  padding: 10px;
  display: block;
}

.controls-wise {
  margin-bottom: 5px;
}
@media print {
  /* avoid cutting tr's in half */
  table, td, row, .header {
      page-break-inside:avoid;
  }
  tr    
{ 
  display: table-row-group;
  page-break-inside:avoid; 
  page-break-after:auto;
}
.accredit-reports .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 .75em;
  margin-top: -0.25em;
  position: relative;
}
.accredit-reports .mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: .25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.accredit-reports .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}
.accredit-reports .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: auto;
}
.accredit-reports .mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0.84375em solid transparent;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 16px;
}
.accredit-reports .row {
  display: flex;
  flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.accredit-reports .col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.accredit-reports .col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.accredit-reports .col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.accredit-reports .col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  flex-direction: column;
  display: flex;
}

.accredit-reports .col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.accredit-reports .box.col-md-4, .overall {
  padding: 2px;
}


.accredit-reports .d-flex {
  display: flex !important;
}
.accredit-reports .flex-column {
  flex-direction: column !important;
}
}

