<mat-toolbar *ngIf="!toggle && !commentsFlag" style="margin-bottom:15px;padding: 10px 0px;" color="primary">
  <mat-toolbar-row>
    <span>Qualificatin Requests</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mr-4 ml-4" *ngIf="!toggle && !commentsFlag">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
</div>
<div *ngIf="!toggle && !commentsFlag && !apiLoading && currentUser?.role === 'process owner'"
  class="margin-5 example-container mat-elevation-z4">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element">
        {{element.initiatorFullName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="getRequest(element)" mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="!toggle && !commentsFlag && !apiLoading && currentUser?.role === 'sme'"
  class="margin-5 example-container mat-elevation-z4">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef> Section </th>
      <td mat-cell *matCellDef="let element">
        {{element.sectionName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.startDate | date:'shortDate'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="expiry">
      <th mat-header-cell *matHeaderCellDef> Expiry </th>
      <td mat-cell *matCellDef="let element"> {{element.expiry}} Days </td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef> Comments </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="getSmeRequest(element)" mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
</div>


<mat-toolbar *ngIf="toggle && !commentsFlag" style="margin-top:0px;padding: 10px 0px;" color="primary">
  <mat-toolbar-row>
    <span
      *ngIf="currentUser?.role === 'process owner'">{{selectedRequest?.initiatorFullName ? selectedRequest?.initiatorFullName : selectedRequest?.initiatedBy.name}}</span>
    <span *ngIf="currentUser?.role === 'sme'">{{selectedRequest?.initiatedBy.name}}</span>
    <span class="example-spacer"></span>
    <span *ngIf="currentUser?.role === 'process owner'">{{selectedRequest?.submittedAt | date:'fullDate'}}</span>
    <span class="example-spacer"></span>
    <button (click)="goBack()" mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">close
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="m-20" *ngIf="apiLoading">
  <mat-card>
    <mat-card-content>
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</div>

<div [ngClass]="{'mobile-class': addMobileClasses}" class="view-block" *ngIf="toggle && !commentsFlag && !apiLoading">
  <div class="margin-5 form-items">

    <div *ngFor="let item of userReviewRequests">

      <mat-toolbar class="no-margin" color="primary" [hidden]="hideForms && item.assigned === false">
        <mat-toolbar-row>
          <div class="title-details">
            <span id="title">{{item.name}}</span>
            <div class="review-info">
              <span id="date" class="request-status" *ngIf="item.review.rating !== null">Reviewed:
                {{item.endDate | date:'shortDate'}}</span>
              <span id="date" class="request-status" *ngIf="item.review.rating === null">Pending:
                {{item.endDate | date:'shortDate'}}</span>
              <span id="stars" *ngIf="item.review.rating !== null">
                <bar-rating [(rate)]="item?.review.rating" [max]="max"></bar-rating>
              </span>
            </div>
          </div>
          <span class="example-spacer"></span>
          <div *ngIf="currentUser?.role !== 'sme'">
            <button matTooltip="Assign Task" (click)="openDialog(item)"
              *ngIf="item.review.rating === null && (item.reviewStatus === null || item.reviewStatus === 'Pending')"
              [disabled]="item.review.rating === null && item.reviewStatus === 'Pending'" mat-button color="basic">
              <mat-icon>assignment</mat-icon>Assign-Task
            </button>
            <!-- <button matTooltip="Re-evaluate Task" [disabled]="item.review.rating !== null" -->
            <button matTooltip="Re-evaluate Task"
              [disabled]="item.review.rating !== null && item.reviewStatus === 'Pending'" (click)="openDialog(item)"
              *ngIf="item.review.rating !== null && (item.reviewStatus === null || item.reviewStatus === 'Pending'|| item.reviewStatus === 'Completed')"
              mat-button color="basic">
              <mat-icon>redo</mat-icon> Re-Evaluate
            </button>
          </div>
          <div class="profile-details">
            <span>{{(convertNumber(item.totalScore) / totalFormScore) * 100 | number:'1.0-0'}}%</span>
            <div *ngIf="currentUser?.role !== 'sme'">
              <small id="request-status" *ngIf="item.previousReview === null && item.currentReview === null">Not
                Reviewed</small>
              <small id="request-status" *ngIf="item.review.rating !== null">REVIEWED</small>
              <small id="request-status" *ngIf="item.review.rating === null">PENDING</small>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-card class="example-result-card mb-3" [hidden]="hideForms && item.assigned === false">
        <mat-card-content>
          <div class="section-info">
            <span class="mb-3" style="display: block;">
              <span id="comment" style="font-weight: bold;">SME: </span>
              {{item.sme.name}}
            </span>
            <!-- <span><mat-icon>assignment_returned</mat-icon></span> -->
            <!-- <span *ngIf="item.review.rating !== null && item.reviewStatus === 'Completed'"><mat-icon>assignment_returned</mat-icon></span>
            <span *ngIf="item.review.rating !== null && item.reviewStatus === 'Pending'"><mat-icon>assignment_turned_in</mat-icon></span>
            <span *ngIf="item.review.rating === null && item.reviewStatus === null"><mat-icon>assignment_late</mat-icon></span>
            <span *ngIf="item.review.rating === null && item.reviewStatus === 'Pending'"><mat-icon>assignment_late</mat-icon></span> -->
          </div>


          <formio *ngIf="currentUser?.role !== 'sme' && item.review.rating === null" [form]="item.template"
            readOnly="true" [submission]="{data: item.data}"></formio>
          <formio *ngIf="!item.assigned && currentUser?.role === 'sme'" [form]="item.template" readOnly="true"
            [submission]="{data: item.data}"></formio>
          <formio *ngIf="item.assigned && currentUser?.role === 'sme' && selectedSection !== item.id"
            [form]="item.template" readOnly="true" [submission]="{data: item.data}"></formio>
          <!-- <formio *ngIf="currentUser?.role !== 'sme' && !item.review" [form]="item.form" readOnly="true"
            [submission]="{data: item.submitData}"></formio> -->

          <!-- <button *ngIf="item.allReviews.length" mat-raised-button>View Previous</button> -->
          <div *ngIf="currentUser?.role === 'sme' && item.assigned === true"
            [hidden]="item.assigned && selectedSection !== item.id">
            <div class="form-comments" *ngFor="let obj of item.formReviewObjects">
              <div class="details">
                <span>{{obj.title}}</span>
                <span *ngIf="item.value === true">{{"true"}}</span>
                <span id="answer">{{obj.value}}</span>
                <span>
                  <mat-form-field>
                    <mat-label>Comments</mat-label>
                    <input [disabled]="reviewAdded" matInput placeholder="Write any comments" [(ngModel)]="obj.comments"
                      value="obj.comments" />
                  </mat-form-field>
                </span>
              </div>
              <div class="controls">
                <bar-rating [(rate)]="obj.rating" [max]="max"></bar-rating>
                <mat-button-toggle-group [disabled]="reviewAdded" [(ngModel)]="obj.status"
                  #group="matButtonToggleGroup">
                  <mat-button-toggle color="primary" (change)="onValChange($event)" value="satisfy"
                    aria-label="Text align left">
                    <mat-icon style="color:green;">thumb_up</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle (change)="onValChange($event)" value="un-satisfy" aria-label="Text align center">
                    <mat-icon color="warn">thumb_down</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div class="comment-box">
              <mat-form-field appearance="outline">
                <mat-label>Mitigation Factors</mat-label>
                <textarea [(ngModel)]="item.review.comments" matInput></textarea>
              </mat-form-field>
              <div style="padding: 15px;">
                <mat-spinner *ngIf="submitLoading" diameter="40"></mat-spinner>
                <button *ngIf="!submitLoading"
                  [disabled]="reviewAdded || (item.review.rating !== null && item.reviewStatus === 'Completed')"
                  (click)="addRequestReview(item)" mat-mini-fab color="accent">
                  <!-- <button *ngIf="!submitLoading" [disabled]="reviewAdded" mat-mini-fab color="primary"> -->
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="currentUser?.role !== 'sme' && item.review.rating !== null">
            <!-- <div *ngFor="let review of item.allReviews; let i=index;"> -->

            <div class="form-comments" *ngFor="let obj of item.review.controlWiseComments">
              <div class="details">
                <span>{{obj.title}}</span>
                <span *ngIf="obj.value === true">{{"true"}}</span>
                <span id="answer">{{obj.value}}</span>
                <span>
                  <mat-form-field>
                    <mat-label>Comments</mat-label>
                    <input disabled matInput placeholder="Write any comments" [(ngModel)]="obj.comments"
                      value="obj.comments" />
                  </mat-form-field>
                </span>
              </div>
              <div class="controls admin-controls">
                <bar-rating [(rate)]="obj.rating" [max]="max"></bar-rating>
                <mat-button-toggle-group disabled [(ngModel)]="obj.status" #group="matButtonToggleGroup">
                  <mat-button-toggle *ngIf="obj.status === 'satisfy'" color="primary" (change)="onValChange($event)"
                    value="satisfy" aria-label="Text align left">
                    <mat-icon style="color:green;">thumb_up</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle *ngIf="obj.status === 'un-satisfy'" (change)="onValChange($event)"
                    value="un-satisfy" aria-label="Text align center">
                    <mat-icon color="warn">thumb_down</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div class="comment-box">
              <mat-form-field appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea disabled [(ngModel)]="item.review.comments" matInput></textarea>
              </mat-form-field>
            </div>
            <!-- <div *ngIf="i !== item.allReviews.length-1" style="padding: 15px;">

                <mat-divider></mat-divider>
              </div> -->
            <!-- </div> -->
          </div>

        </mat-card-content>
      </mat-card>

    </div>
  </div>
  <div class="margin-5 activity-items control-box">
    <div class="right-layout">
      <mat-card *ngIf="currentUser?.role !== 'sme'">
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
              <div mat-line>{{'Assigned Tasks'}}</div>
              <div mat-line>{{sectionStats?.pendingCount}}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>assignment_late</mat-icon>
              <div mat-line>{{'Unassigned Tasks'}}</div>
              <div mat-line>{{sectionStats?.unassignCount}}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>assignment_returned</mat-icon>
              <div mat-line>{{'Reviews Submitted'}}</div>
              <div mat-line>{{sectionStats?.reviewsCount}}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{'Total Sections'}}</div>
              <div mat-line>{{userReviewRequests.length}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>

          <div *ngIf="currentUser?.role !== 'sme'">
            <div class="top-controls">
              <div class="fullbtn">
                <button [disabled]="allTasksAssingedFlag" color="accent" (click)="openDialog('all-tasks')"
                  class="control-btn" mat-flat-button>ASSIGN ALL
                  TASKS</button>
              </div>
              <div class="fullbtn">
                <button color="primary" (click)="viewCommentsMatrix(userReviewRequests)" class="control-btn"
                  mat-flat-button>COMMENTS MATRIX</button>
              </div>
              <div class="fullbtn">
                <button (click)="setRequestStatus()" *ngIf="allReviewsFlag && currentUser?.role !== 'sme'" color="warn"
                  mat-button>SET
                  STATUS</button>
              </div>
              <div class="comments-box">
                <mat-form-field appearance="outline">
                  <mat-label>Comments for fip</mat-label>
                  <textarea matInput [(ngModel)]="commentsForFip" placeholder="write your comments..."></textarea>
                </mat-form-field>
                <button (click)="intimateFip()" [disabled]="allTasksAssingedFlag || !commentsForFip" color="accent"
                  mat-raised-button>INTIMATE FIP</button>
              </div>
            </div>
          </div>
          <div *ngIf="currentUser?.role === 'sme'">
            <div class="top-controls">
              <div class="fullbtn">
                <button (click)="hideForms = !hideForms" color="warn" class="control-btn" mat-flat-button>
                  {{!hideForms ? 'FILTER MY SECTIONS' : 'SHOW ALL SECTIONS'}}
                </button>
              </div>
              <div class="fullbtn">
                <button [disabled]="reviewAdded" color="primary" class="control-btn" mat-flat-button>
                  {{'ASSIGN TO MEMBERS'}}
                </button>
              </div>
              <div class="comments-box">
                <mat-form-field appearance="outline">
                  <mat-label>Comments for others</mat-label>
                  <textarea matInput placeholder="write your comments..."></textarea>
                </mat-form-field>
                <mat-spinner *ngIf="apiLoading" diameter="40"></mat-spinner>
                <!-- <button *ngIf="!submitLoading" [disabled]="reviewAdded" color="accent" (click)="completeTask()"
                  mat-raised-button>Complete
                  Task</button> -->
              </div>
            </div>
          </div>

        </mat-card-content>

        <mat-card-actions>
          <div class="bottom-controls">
            <div class="left-block">
              <span class="head">Accredit Status:</span>
              <span id="comment" class="answer mb-3">{{selectedRequest?.status | uppercase}}</span>
              <span class="head" *ngIf="allReviewsFlag && currentUser?.role !== 'sme'">System Status:</span>
              <span id="warn" class="answer"
                *ngIf="allReviewsFlag && currentUser?.role !== 'sme'">{{userSystemStatus | uppercase}}</span>
            </div>
            <div class="right-block">
              <span class="head">Current Score</span>
              <span class="comments">{{userAllScore || 0}} / {{'5'}}</span>
              <span *ngIf="userAllScore" id="answer" class="comments">{{(userAllScore/5 * 100)}}%</span>
            </div>
          </div>

        </mat-card-actions>

      </mat-card>


    </div>
  </div>
</div>

<div *ngIf="commentsFlag && !apiLoading">
  <mat-toolbar style="margin-bottom: 25px;" color="primary">
    <mat-toolbar-row>
      <span>{{"Comments Matrix"}}</span>
      <span class="example-spacer"></span>
      <button (click)="hideComments()" mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Close">close
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <small>{{"Sections"}}</small>
      <span class="example-spacer"></span>
      <small> Comments</small>
      <span class="example-spacer"></span>
      <small>Mitigations</small>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card style="padding: 0px;margin: 20px;">
    <div *ngIf="!commentsHistoryFlag">
      <div class="comments-matrix" *ngFor="let item of commentsData">
        <div class="title-details">
          <span id="title">{{item.name}}</span>
          <div class="review-info">
            <!-- <span id="date" *ngIf="item.review.rating !== null">Reviewed:
            {{item.endDate | date:'shortDate'}}</span>
          <span id="date" *ngIf="item.review.rating === null">Pending:
            {{item.endDate | date:'shortDate'}}</span> -->
            <span id="stars" *ngIf="item.review.rating !== null">
              <bar-rating [(rate)]="item.review.rating" [max]="max"></bar-rating>
            </span>
            <div class="m-2" *ngIf="item.reviewHistory !== null">
              <button color="accent" mat-button (click)="showCommentsHistoty(item)">View History</button>
            </div>
          </div>
        </div>
        <div class="form-comments">
          <div class="form-item mat-elevation-z2" *ngFor="let obj of item.review?.controlWiseComments">
            <div class="form-item-boxes">
              <div class="details">
                <span>{{obj.title}}</span>
                <span *ngIf="obj.value === true">{{"true"}}</span>
                <span id="answer">{{obj.value}}</span>
                <div class="field-comments">
                  <span id="comment">{{obj.comments}}</span>
                </div>
              </div>
              <div class="controls admin-controls">
                <bar-rating [(rate)]="obj.rating" [max]="max"></bar-rating>
                <mat-icon style="font-size: 20px;color: green;margin-top: 8px;" *ngIf="obj.status === 'satisfy'">
                  thumb_up
                </mat-icon>
                <mat-icon style="font-size: 20px;color: red;margin-top: 8px;" *ngIf="obj.status === 'un-satisfy'">
                  thumb_down</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="review-comments">
          <span>{{item.review?.comments}}</span>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div *ngIf="commentsHistoryFlag">
      <div class="m-2">
        <button mat-button color="warn" (click)="commentsHistoryFlag = !commentsHistoryFlag">Close History</button>
      </div>
      <div class="comments-matrix" *ngFor="let item of commentsHistory">
        <div class="title-details">
          <span id="title">{{selectedHistoryItem.name}}</span>
          <div class="review-info">
            <span id="stars" *ngIf="item.rating !== null">
              <bar-rating [(rate)]="item.rating" [max]="max"></bar-rating>
            </span>
          </div>
        </div>
        <div class="form-comments">
          <div class="form-item mat-elevation-z2" *ngFor="let obj of item.controlWiseComments">
            <div class="form-item-boxes">
              <div class="details">
                <span>{{obj.title}}</span>
                <span *ngIf="obj.value === true">{{"true"}}</span>
                <span id="answer">{{obj.value}}</span>
                <div class="field-comments">
                  <span id="comment">{{obj.comments}}</span>
                </div>
              </div>
              <div class="controls admin-controls">
                <bar-rating [(rate)]="obj.rating" [max]="max"></bar-rating>
                <mat-icon style="font-size: 20px;color: green;margin-top: 8px;" *ngIf="obj.status === 'satisfy'">
                  thumb_up
                </mat-icon>
                <mat-icon style="font-size: 20px;color: red;margin-top: 8px;" *ngIf="obj.status === 'un-satisfy'">
                  thumb_down</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="review-comments">
          <span>{{item.comments}}</span>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card>
</div>