<!-- <app-project-details [viewType]="viewType" [showFillApprasialBtn]="showFillApprasialBtn"></app-project-details> -->
<mat-toolbar class="mat-elevation-z8" style="padding: 15px 0px;" color="primary">
  <mat-toolbar-row>
    <span>{{'Extended Appraisal'}}</span>
    <div class="example-spacer"></div>
    <button matTooltip="Submitted Details!" class="mr-2" (click)="myTopElement.scrollIntoView({ behavior: 'smooth', block: 'center' })"
      mat-icon-button>
      <mat-icon class="mr-1">table_chart</mat-icon>
    </button>
    <button class="d-flex align-items-center" (click)="goBack()" color="primary" mat-button>
      <mat-icon class="mr-1">arrow_back</mat-icon> Back
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-add-extended-appraisal-sme></app-add-extended-appraisal-sme>
<span #myTopElement></span>
<app-project-details [viewType]="viewType"></app-project-details>