<div class="dialog" appNoRightClick>
  <div class="header">
    <h1 mat-dialog-title>{{ data.title  }}</h1>
  </div>
  <div mat-dialog-content>
    <p class="dialog-message">{{ data.message }}</p>

    <div class="controls" *ngIf="data?.confirm">
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="data.startDate" [(ngModel)]="data.startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker2" [min]="data.startDate" [(ngModel)]="data.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comments for others</mat-label>
        <textarea matInput placeholder="Enter your comments..." [(ngModel)]="data.comments"></textarea>
      </mat-form-field>
    </div>
    <div class="controls" *ngIf="data?.setStatus">
      <div class="status-btns">
        <button mat-raised-button (click)="setStatus('DEFERRED')" color="accent"
          class="m-2">{{'Deferred' | uppercase}}</button>
        <button mat-raised-button (click)="setStatus('APPROVED')" color="primary"
          class="m-2">{{'Approved' | uppercase}}</button>
        <button mat-raised-button (click)="setStatus('REJECTED')" color="warn"
          class="m-2">{{'Rejected' | uppercase}}</button>
      </div>
    </div>
    <div class="controls" *ngIf="data?.setStages">
      <div class="status-btns">
        <button mat-raised-button (click)="setStatus('PRELIMINARY_APPRAISAL')" color="primary"
          class="m-2">{{'Enable Preliminary appraisal' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('EXTENDED_APPRAISAL')" color="primary"
          class="m-2">{{'Enable extended appraisal' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('TAC_MEETING')" color="accent"
          class="m-2">{{'Enable Tac' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('BOD_MEETING')" color="accent"
          class="m-2">{{'Enable BOD' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('RMC_MEETING')" color="accent"
          class="m-2">{{'Enable RMC' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('OFFER_LETTER')" color="accent"
          class="m-2">{{'Enable Offer Letter' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('GIA')" color="accent" class="m-2">{{'Enable gia' | uppercase}}
        </button>
        <button mat-raised-button (click)="setStatus('MARKED_TO_GM')" color="accent" class="m-2">{{'marked to gm' | uppercase}}
        </button>
        <button color="warn" mat-raised-button style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}
        </button>
      </div>
    </div>

    <div class="controls" *ngIf="data?.offerLetter">
      <mat-form-field>
        <mat-label>Expiry Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="data.endDate" [(ngModel)]="data.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="controls" *ngIf="data?.selectThematic">
      <mat-form-field>
        <mat-select (selectionChange)="areaChanged($event)" placeholder="Select Areas" [formControl]="areas" multiple>
          <mat-select-trigger>
            <span *ngFor="let item of areas.value; let i=index">
              <span *ngIf="i===0">{{item.name}}</span>
            </span>
            <span *ngIf="areas.value?.length > 1" class="example-additional-selection">
              (+{{areas.value.length - 1}} others)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let object of data?.areas;" [value]="object">{{object.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <section>
        <mat-checkbox [formControl]="applyAsJv">Available as JV!</mat-checkbox>
      </section>
    </div>

  </div>
  <div mat-dialog-actions>
    <button *ngIf="data?.add" color="primary" mat-raised-button style="margin-right:10px;"
      (click)="cancel()">{{ data.confirmText }}</button>
    <button *ngIf="data?.confirm" color="warn" mat-raised-button style="margin-right:10px;"
      (click)="cancel()">{{ data.cancelText }}</button>
    <button [disabled]="!data.startDate || !data.endDate" *ngIf="data?.confirm" color="primary" mat-raised-button
      (click)="confirm()">{{ data.confirmText }}</button>
    <!-- GM CONTROLS -->
    <button *ngIf="data?.assignToGm" mat-raised-button (click)="cancel()" color="warn"
      class="m-2">{{'no' | uppercase}}</button>
    <button *ngIf="data?.assignToGm" mat-raised-button (click)="assignToGm('ASSIGN')" color="primary"
      class="m-2">{{'yes' | uppercase}}</button>
    <!-- OFFER LETTER -->
    <button *ngIf="data?.offerLetter" mat-raised-button (click)="cancel()" color="warn"
      class="m-2">{{data.cancelText | uppercase}}</button>
    <button *ngIf="data?.offerLetter" [disabled]="!data.endDate" mat-raised-button
      (click)="uploadOfferLetter('ASSIGN', data.endDate)" color="primary"
      class="m-2">{{data.confirmText | uppercase}}</button>


    <button *ngIf="data?.selectThematic" [disabled]="areas.value?.length === 0 || !areas.value" mat-raised-button
      (click)="addThematicAreas()" color="primary" class="m-2">{{data.confirmText | uppercase}}</button>
    <button *ngIf="data?.selectThematic" mat-raised-button (click)="cancel()" color="warn"
      class="m-2">{{data.cancelText | uppercase}}</button>
  </div>
</div>