<ng-container>
  <mat-toolbar class="toolbar-sticky" style="margin-bottom:25px;padding: 15px 0px;" color="primary">
    <mat-toolbar-row>
      <span>My Trackpad</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="box-heading">
    <span>Qualifciations</span>
  </div>
  <div class="row m-20">
    <div class="col-md-3" (click)="goToRoute('accreditation-requests')">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Pending Tasks</h6>
            </div>
            <div class="value">
              <span *ngIf="!apiLoading">{{qualiTaskCount}}</span>
              <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="box-heading">
    <span>Extended Appraisals</span>
  </div>
  <div class="row m-20">
    <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Pending Tasks</h6>
            </div>
            <div class="value">
              <span *ngIf="!apiLoading">0</span>
              <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Under Review</h6>
            </div>
            <div class="value">
              <span>40</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Approved</h6>
            </div>
            <div class="value">
              <span>40</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->
  </div>

  <div class="box-heading">
    <span>Projects</span>
  </div>
  <div class="row m-20">
    <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Pending Tasks</h6>
            </div>
            <div class="value">
              <span *ngIf="!apiLoading">0</span>
              <mat-progress-spinner *ngIf="apiLoading" mode="indeterminate" diameter="30"></mat-progress-spinner>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Under Review</h6>
            </div>
            <div class="value">
              <span>40</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-content>
          <div class="box">
            <div class="heading">
              <h6>Approved</h6>
            </div>
            <div class="value">
              <span>40</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->
  </div>
</ng-container>