<!-- <mat-expansion-panel hideToggle>
	<mat-expansion-panel-header>
		<mat-panel-title>
			This is the expansion title
		</mat-panel-title>
		<mat-panel-description>
			This is a summary of the content
		</mat-panel-description>
	</mat-expansion-panel-header> -->
<form [formGroup]="_form">
	<div class="w-100" [class.pl-2]="isSubActivity">

		<div class="row">
			<div class="col-auto pr-0 my-auto">
				<button class="btn btn-light btn-sm" type="button" (click)="_addGroup()">+</button>
				<button class="btn btn-light btn-sm" type="button" (click)="remove.emit()">-</button>
			</div>
			<div class="col-md-6">
				<input type="text" formControlName="name" class="form-control" placeholder="Acitivity Name">
			</div>
			<div class="col-auto pl-0" formGroupName="quarters">
				<table>
					<tr>
						<td class="quarter-cell" [class.quarter-disabled]="!isLeaf"
							*ngFor="let control of _quartersFormGroup.controls | keys; index as i">
							<!-- *ngFor="let control of _quartersFormGroup.controls | keys; index as i" (click)="openActivityDetails(i)"> -->
							<div style="display: flex;flex-direction: column;align-items: center;">
								<small style="margin-bottom: 3px;" id="comment">{{'Q'+(i+1)}}</small>
								<mat-checkbox [formControlName]="control" [disabled]="!isLeaf"
									(change)="quarterSelectionChage($event, i)"></mat-checkbox>
								<small id="answer" style="margin-top: 0px;" *ngIf="_quartersFormGroup.controls[control].value &&
									_quartersFormGroup.controls[control].disabled !== true" (click)="openActivityDetails(i)">details</small>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<ng-container formArrayName="groups">
			<app-activities-group-control *ngFor="let s of _groupsFormArray?.controls; index as i"
				(remove)="_deleteGroupFromArray(i)" [formControlName]="i"
				[isLeaf]="_groupsFormArray.controls[i].value.groups.length == 0" (click)="formEntryClicked(i)"
				[isSubActivity]="true">
			</app-activities-group-control>
		</ng-container>
	</div>
</form>
<!-- </mat-expansion-panel> -->